.site-wrapper {
    &.contact {
        .contact-hidden-start {
            display: none;
        }
        h1 {
            @media screen and (max-width: $medium) {
                margin-top: 20px;
            }
            @media screen and (max-width: $small) {
                margin-top: 0px;
            }
        }
    }

    .featured-recipes {
        a {
            &:nth-of-type(3) {
                @media screen and (max-width: $small) {
                    margin-bottom: -10px !important;
                }
            }
        }
    }

    //
    // contact list
    //
    ul.contact-info__list {
        list-style-type: none;
        padding: 0;
        
    }

    li.contact-info__list-item,
    .contact-info__address span {
        &:after {
            background-color: $green;
            border-radius: 50%;
            content: '';
            height: 6px;
            left: 0;
            position: absolute;
            top: 0.3125em;
            width: 6px;
        }
    }

    li.contact-info__list-item {
        @include text-22($green);
        font-family: $intro;
        margin-bottom: .5em;
        padding: 0 0 0 1em;
        position: relative;

        @media screen and (max-width: $small) {
            font-size: 18px;
        }
        &.--no-bullet {
            padding-left: 0;
            &:after {
                display: none;
            }
        }
    }

    .contact-info__address {
        span {
            display: block;
            margin-bottom: .5em;
            padding-left: 1em;
            position: relative;
        }
    }

    .contact-info__link {
        @include text-22();
        font-family: $intro;
        text-transform: uppercase;

        @media screen and (max-width: $small) {
            font-size: 18px;
        }
    }


    .contact-thankyou {
        background-color: #622d50;
        padding-top: 60px;
        text-align: center;
        margin: 20px 0px 25px;
        position: relative;

        @media screen and (max-width: $small) {
            padding-top: 45px;
        }
        &:before {
            content: '';
            display: block;
            width: 101%;
            position: absolute;
            left: -2px;
            background-image: url('../img/contact-rip-1.png');
            height: 33px;
            top: -15px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            left: 0px;
            background-image: url('../img/contact-rip-2.png');
            height: 20px;
            bottom: -5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }
        &__line1 {
            font-family: $atomico;
            font-size: 95px;
            display: block;
            color: $white;
            letter-spacing: 3px;
            margin: 0px 5% 7px;

            @media screen and (max-width: $large) {
                font-size: 60px;
            }
            @media screen and (max-width: $small) {
                font-size: 45px;
            }
        }
        &__line2 {
            font-family: $atomico;
            font-size: 34px;
            display: block;
            color: $white;
            letter-spacing: 3px;
            margin: 0px 5% 30px;

            @media screen and (max-width: $large) {
                font-size: 20px;
            }
            @media screen and (max-width: $small) {
                font-size: 16px;
                letter-spacing: 2px;
                margin: 0px 5% 15px;
            }
        }
        .pineapple-pattern {
            height: 145px;
            background-image: url('../img/pineapple-texture.png');
            background-repeat: repeat-x;
            background-position: top center;
        }
    }
}
.contact-form {
    hr {
        border: none;
        height: 2px;
        background-color: $green;
        max-width: none;
        margin: 70px 0px;
    }
}

h1,h2,h3,h4,h5,h6 {
    &.contact-form__title {
        @include heading-22($green,1);
        margin-bottom: 1em;
        margin-top: 2em;
        text-transform: uppercase;
    }
}

p.contact-form__intro {
    margin-top: 35px;

    @media screen and (max-width: $medium) {
        margin-top: 0px;
    }
}

.contact-reason-button, .submit {
    margin-bottom: 110px;

    @media screen and (max-width: $medium) {
        margin-bottom: 70px;
    }
}
.contact-form__item, .iagree {
    margin-bottom: clamp(20px,5vw,40px);
}

@media screen and (min-width: $medium-start) {
    .contact-form {
        // padding-left: clamp(15px,5vw,50px);
        
        // form {
        //     padding-left: clamp(15px,5vw,50px);
        // }

        // .row {
        //     padding-left: clamp(15px,5vw,50px);
        // }
    }
    .contact-form__intro {
        padding-left: clamp(15px,5vw,50px);
    }
    h1,h2,h3,h4,h5,h6 {
        &.contact-form__title {
            margin-top: 70px;
            margin-bottom: 40px;

            @media screen and (max-width: $medium) {
                margin-top: 40px;
            }
        }
    }
}
.contact-info {
    margin-top: 60px;
    padding-left: clamp(15px,5vw,50px);
    
    @media screen and (max-width: $medium) {
        margin-top: 30px;
        padding-left: 0px;
    }
    p {
        line-height: 35px;
        margin-bottom: 40px;

        @media screen and (max-width: $small) {
            line-height: 25px;
        }
        a {
            @media screen and (max-width: $medium) {
                margin-top: 20px;
                display: block;
            }
        }
    }
}
#submit-contact {
    padding: 20px 35px;
}
.thankyou-modal {
    padding: 80px 50px !important;
    max-width: 870px !important;
    margin: 0px 30px;
    width: calc(100% - 60px) !important;

    @media screen and (max-width: $small) {
        padding: 60px 30px 40px !important;
    }
    .remodal-close {
        width: 20px;
        height: 20px;
        top: 30px;
        right: 30px;
        left: auto;
        
        @media screen and (max-width: $small) {
            top: 20px;
            right: 20px;
        }
        &:before {
            content: '';
            background-image: url('../img/green-close.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }
    h2 {
        margin-bottom: 30px;

        @media screen and (max-width: $small) {
            margin-bottom: 20px;
        }
    }
    p {
        font-size: 22px;
        line-height: 30px;
        max-width: 550px;
        margin: 0px auto 30px;

        @media screen and (max-width: $small) {
            font-size: 18px;
            line-height: 26px;
            margin: 0px auto 20px;
        }
    }
    .btn {
        font-family: $intro;
        font-size: 22px;
        line-height: 32px;
        color: $green;
        text-transform: uppercase;
        transition: .3s ease;
        display: inline-block;
        text-align: center;
        width: auto;
        padding: 0px;
        font-weight: normal;
    
        @media screen and (max-width: $small) {
            font-size: 18px;
            line-height: 28px;
        }
        &:before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 18px;
            background-image: url('../img/green-caret-right.svg');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            left: -15px;
            top: 2px;
            transform: scale(-1, -1);
            transition: .2s ease-in-out;

            @media screen and (max-width: $small) {
                width: 8px;
                height: 15px;
            }
        }
        &:hover, &:focus, &:active {
            color: #a0c53d;
            box-shadow: none;

            &:before {
                background-image: url('../img/light-green-caret-right.svg');
                left: -18px;
            }
        }
        &.--green {
            background-color: $green-300;
            color: $white;
            padding: 20px 35px 20px 45px;
            border-radius: 100px;

            @media screen and (max-width: $small) {
                padding: 15px 30px 15px 40px;
            }
            &:before {
                background-image: url('../img/white-caret-right.svg');
            }
            &:hover {
                background-color: lighten($green-300, 5%);
            }
        }
    }
}