.site-wrapper {
    &.error-page {
        position: relative;
        background-image: url('../img/bg/texture-paint-repeat.jpg');
        background-repeat: repeat;
    
        &:before {
            content: '';
            background-image: url('../img/error-leaf.png');
            background-repeat: no-repeat;
            width: 483px;
            height: 435px;
            position: absolute;
            top: 0px;
            left: 0px;

            @media screen and (max-width: $medium) {
                width: 250px;
                background-size: contain;
            }
            @media screen and (max-width: $small) {
                width: 130px;
            }
        }
        .mobile-nav {
            display: none;
        }
        main {
            padding: 115px 0px !important;

            @media screen and (max-width: $small) {
                padding: 115px 0px 70px !important;
            }
        }
        .section-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
        .logo {
            width: 150px;
            display: block;
            margin: 0px auto 35px;

            @media screen and (max-width: $small) {
                width: 120px;
                margin: 0px auto 25px;
            }
        }
        h1 {
            font-size: 200px;
            
            @media screen and (max-width: $medium) {
                font-size: 150px;
            }
            @media screen and (max-width: $small) {
                font-size: 100px;
            }
            span {
                line-height: 155px;
                padding: 15px 40px 0px;

                @media screen and (max-width: $medium) {
                    line-height: 115px;
                    padding: 15px 30px 0px;
                }
                @media screen and (max-width: $small) {
                    line-height: 80px;
                }
            }
        }
        h2 {
            font-size: 100px;
            margin-bottom: 50px;

            @media screen and (max-width: $medium) {
                font-size: 80px;
            }
            @media screen and (max-width: $small) {
                font-size: 50px;
                margin-top: 20px;
                margin-bottom: 35px;
            }
        }
        p {
            max-width: 600px;
            margin: 0px auto 50px;

            @media screen and (max-width: $small) {
                margin: 0px auto 35px;
            }
            span {
                font-family: $intro;
                color: $green;
                display: block;
                line-height: 32px;

                @media screen and (max-width: $small) {
                    line-height: 26px;
                }
            }
        }
        .btn {
            padding: 20px 35px 20px 55px !important;
            position: relative;

            @media screen and (max-width: $small) {
                padding: 15px 30px 15px 50px !important;
            }
            &:after {
                position: absolute;
                left: 25px;
                top: 50%;
                transform: translateY(-50%) scale(-1, -1);
            }
        }
    }
}