.site-wrapper {
    footer {
        background-image: url('../img/green-concrete-bg.png');
        padding: 50px 0px 30px;
    
        .section-container {
            max-width: 1450px;
        }
        nav {
            margin: 0px;

            ul {
                margin: 0px 0px 20px;
                padding: 0px;
                text-align: center;

                li {
                    list-style-type: none;
                    display: inline-block;
                    padding: 0px 15px;
                    line-height: 18px;
                    border-right: 2px solid $white;
                    margin-bottom: 15px;

                    @media screen and (max-width: 430px) {
                        padding: 0px 10px;
                    }
                    &:first-of-type {
                        padding-left: 0px;
                    }
                    &:last-of-type {
                        padding-right: 0px;
                        border-right: none;
                    }
                    a {
                        font-family: $intro;
                        font-size: 18px;
                        color: $white;

                        &:hover, &:active, &:focus {
                            color: #a0c53d;
                        }
                    }
                }
            }
        }
        p {
            font-size: 12px;
            line-height: 1.5;
            margin: 0px auto 10px;
            color: $white;

            &:last-of-type {
                margin-top: 30px;
                margin-bottom: 0px;
            }
        }
    }

    .legal-message p span {
        white-space: nowrap;
    }

}