.site-wrapper {
    .sidebar {
        &__footer {
            padding: 5% calc(5% + 13px) 5% 5%;
            background-color: #622d50;
            background-image: url('../img/footer-shape.jpg');
            background-repeat: no-repeat;
            background-position: bottom left;
            width: 100%;
            align-self: flex-end;
            position: relative;
    
            @media screen and (max-height: 670px) {
                display: none;
            }
            ul {
                margin: 0px;
                line-height: 18px;
    
                li {
                    list-style-type: none;
                    width: 49%;
                    display: inline-block;
    
                    &:nth-of-type(odd) {
                        text-align: right;
                        padding-right: 5%;
                    }
                    &:nth-of-type(even) {
                        text-align: left;
                        padding-left: 5%;
                    }
                    a {
                        color: $white;
                        font-size: 11px;
    
                        &:hover, &:active, &:focus {
                            color: #d2d2d2;
                        }
                    }
                }
            }
            &__copyright {
                color: $white;
                font-size: 12px;
                text-align: center;
                font-weight: bold;
                line-height: 16px;
                margin: 15px 10% 0px;
            }
        }
    }
    .footer-mobile {
        display: none;
        padding: 40px 5% 30px;
        background-color: #622d50;
        background-image: url('../img/footer-shape-large.jpg');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 190px;
    
        @media screen and (max-width: $medium) {
            display: block;
            width: 100% !important;
        }
        @media screen and (max-height: 670px) {
            display: block;
            position: relative;
            z-index: 100;
            width: calc(80% + 46px);
            margin: 0px auto;
        }
        .sidebar__newsletter__text {
            color: $white;
            font-weight: bold;
            line-height: 20px;
        }
        &__newsletter {
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid $gray;
            width: 100%;
            max-width: 320px;
            margin: 0px auto;
    
            .btn {
                margin-bottom: 15px;
            }
            &__text {
                color: $white;
                font-weight: bold;
                line-height: 20px;
            }
        }
        &__social {
            padding: 20px 0px;
            width: 100%;
            max-width: 320px;
            margin: 0px auto;
    
            ul {
                margin: 0px;
                text-align: center;
    
                li {
                    list-style-type: none;
                    display: inline-block;
    
                    &:last-of-type {
                        a {
                            margin-right: 0px;
                        }
                    }
                    a {
                        color: $white;
                        font-size: 28px;
                        font-weight: bold;
                        margin-right:25px;
                        padding: 5px;
                        font-weight: normal;
    
                        &:hover, &:active, &:focus {
                            color: $green;
                        }
                    }
                }
            }
        }
        &__nav {
            margin: 0px;
    
            ul {
                margin: 0px;
                text-align: center;
    
                li {
                    list-style-type: none;
                    display: inline-block;
                    padding: 0px 20px;
                    line-height: 11px;
                    border-right: 1px solid $white;
    
                    @media screen and (max-width: 430px) {
                        padding: 0px 10px;
                    }
                    &:first-of-type {
                        padding-left: 0px;
                    }
                    &:last-of-type {
                        padding-right: 0px;
                        border-right: none;
                    }
                    a {
                        font-size: 13px;
                        color: $white;
    
                        @media screen and (max-width: 430px) {
                            font-size: 11px;
                        }
                        &:hover, &:active, &:focus {
                            color: $green;
                        }
                    }
                }
            }
            &__copyright {
                color: $white;
                text-align: center;
                font-size: 13px;
                font-weight: bold;
                margin: 10px 0px 0px;
            }
        }
    }
}