.site-wrapper {
    &.gallery-page {
        .col-md-4 {
            padding: 15px;
        }
        .load-more {
            margin-top: 65px;

            @media screen and (max-width: $small) {
                margin-top: 30px;
                margin-bottom: -20px;
            }
            p {
                color: $green;
                font-size: 18px;
                line-height: 25px;
                font-style: italic;
            }
        }
    }
    .gallery-filters {
        .results-filtering {
            @media screen and (max-width: $small) {
                padding-bottom: 15px;
            }
        }
        .results-toggle {
            width: calc(100% - 305px);
            display: inline-block;

            @media screen and (max-width: 1350px) {
                width: 100%;
            }
            &.is-open {
                + .results-content {
                    padding-bottom: 5px;
                }
            }
            &.filters {
                &:after {
                    top: -3px;
                }
            }
        }
        .form {
            position: relative;
            top: -7px;
            width: 300px;
            display: inline-block;

            @media screen and (max-width: 1350px) {
                width: 100%;
            }
            input {
                padding: 5px !important;
            }
        }
        + .cards {
            margin-top: 0px;

            .col-md-4 {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            a {
                &:first-of-type, &:nth-of-type(2) {
                    margin-bottom: 0px;
                }
                &:nth-of-type(3) {
                    @media screen and (max-width: $small) {
                        margin-bottom: 0px;
                    }
                }
            }
            + .align-center {
                p {
                    margin-top: 15px;
                }
            }
        }
    }
    .heading-search {
        &__heading {
            width: calc(100% - 305px);
            display: inline-block;

            @media screen and (max-width: 1350px) {
                width: 100%;
            }
            &.is-open {
                + .results-content {
                    padding-bottom: 5px;
                }
            }
            &.filters {
                &:after {
                    top: -3px;
                }
            }
        }
        .form {
            position: relative;
            margin-top: 32px;
            width: 300px;
            display: inline-block;
            vertical-align: top;

            @media screen and (max-width: 1350px) {
                width: 100%;
                margin-top: 0px;
            }
            input {
                padding: 5px !important;
            }
        }
    }
    &.products-landing, &.recipes-landing {
        .gallery-cards {
            margin-top: 0px;
            position: relative;
            z-index: 1;

            .card {
                &__text {
                    &__heading {
                        font-size: 22px;
                    }
                }
            }
            + .align-center {
                margin: 30px 0px 45px;

                @media screen and (max-width: 1200px) {
                    margin: 30px 0px -5px;
                }
            }
            .col-lg-8 {
                a {
                    height: 100%;
                }
            }
        }
        .one-third {
            .row {
                margin-left: 0px;
                margin-right: 0px;
                padding: 15px 0px 0px !important;
            }
            .card {
                + .card {
                    margin-top: 25px;

                    @media screen and (max-width: $large) {
                        margin-top: 0px;
                    }
                    @media screen and (max-width: 900px) {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    &.products-landing {
        .product-cards {
            .card {
                margin-bottom: 30px;

                @media screen and (max-width: $large) {
                    margin-bottom: 0px;
                }
            }
        }
    }
    &.gallery-page {
        .product-cards {
            &.global-cards {
                .card {
                    margin-bottom: 30px;
    
                    @media screen and (max-width: $large) {
                        margin-bottom: 0px;
                    }
                    @media screen and (max-width: $medium) {
                        margin-bottom: 30px;
                    }
                    @media screen and (max-width: $small) {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
