.site-wrapper {
    .homepage-content {
        position: relative;
        z-index: 2;

        .heading {
            margin-bottom: 40px;
            
            + br {
                + .heading {
                    margin-top: -20px;

                    @media screen and (max-width: $small) {
                        margin-top: -30px;
                    }
                }
            }
        }
        hr {
            max-width: none;
        }
    }
    .leaves {
        width: 100%;
        margin-top: -150px;
        margin-bottom: 107px;
        position: relative;

        @media screen and (max-width: $medium) {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 80px;
        }
        @media screen and (max-width: $small) {
            padding-top: 60px;
        }
        img {
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
    .homepage-intro {
        position: relative;
        z-index: 11;
        text-align: center;
        margin-bottom: -20px;
    
        @media screen and (max-width: $medium) {
            margin-bottom: 0px;
        }
        h1 {
            margin-top: 0px;
        }
        &__text {
            font-size: 22px;
            line-height: 30px;
            font-weight: 500;
            width: 100%;
            max-width: 670px;
            margin: 0px auto 30px;

            @media screen and (max-width: $small) {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
    .video {
        @include aspect-ratio(1216, 468);
    
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .page-grid {
        margin-bottom: 20px;
    
        .cell {
            position: relative;
        }
        .homepage-products {
            p {
                max-width: 790px;
                margin-left: 40px;

                @media screen and (max-width: $medium) {
                    margin-left: 0px;
                }
            }
        }
        .quick-links {
            margin: 40px -20px 170px;
    
            @media screen and (max-width: $large) {
                margin-bottom: 90px;
            }
            @media screen and (max-width: $small) {
                margin-bottom: 60px;
            }
        }
        .quick-link {
            text-align: center;
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            transform: scale(1);
            transition: .35s ease;
    
            @media screen and (max-width: $large) {
                padding-left: 15px;
                padding-right: 15px;
            }
            @media screen and (max-width: $medium) {
                margin-bottom: 20px;
            }
            @media screen and (max-width: $small) {
                margin-bottom: 10px;
            }
            &:hover {
                transform: scale(1.08);

                @media screen and (max-width: $small) {
                    transform: scale(1);
                }
            }
            p {
                position: absolute;
                bottom: 40px;
                left: 55px;
                font-family: $thunderhouse;
                font-size: 55px;
                line-height: 45px;
                font-weight: normal;
                color: $white;
                margin-bottom: 0px;
                text-shadow: 2px 2px 4px rgba($black, .5);

                @media screen and (max-width: 1700px) {
                    font-size: 3vw;
                    line-height: 2vw;
                    left: 3.5vw;
                }
                @media screen and (max-width: $medium) {
                    font-size: 4.3vw;
                    left: 4vw;
                }
                @media screen and (max-width: $small) {
                    font-size: 55px;
                    line-height: 45px;
                    bottom: 50px;
                    left: 55px;
                }
                @media screen and (max-width: 380px) {
                    font-size: 45px;
                    line-height: 35px;
                    bottom: 40px;
                }
            }
            img {
                width: 100%;
            }
            a {
                @media screen and (max-width: $small) {
                    z-index: initial;
                }
            }
        }
    }
    .featured-recipe {
        margin-bottom: 90px;

        @media screen and (max-width: $small) {
            margin-bottom: 60px;
        }
        .col-lg-4 {
            display: flex;
            align-items: center;

            > div {
                width: 100%;
            }
        }
        .col-lg-8 {
            padding-left: 50px;
            display: flex;
            align-items: center;

            @media screen and (max-width: $large) {
                padding-left: 15px;
                margin-top: 40px;
            }
            > div {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
        &__heading {
            width: 160%;
            
            @media screen and (max-width: $large) {
                width: 100%;
            }
            h2 {
                width: auto;
                position: relative;
                z-index: 1;
                display: inline-block;
                margin-bottom: 15px;
                margin-top: 0px;

                @media screen and (max-width: $small) {
                    margin-bottom: 10px;
                }
            }
        }
        &__text {
            margin-left: 40px;

            @media screen and (max-width: $medium) {
                margin-left: 0px;
            }
            p {
                margin-bottom: 30px;
            }
            .btn {
                text-align: left;
            }
        }
    }
    .featured-product {
        background-image: url('../img/pineapple-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 115px 0px 140px;
        text-align: center;
        margin-bottom: 170px;

        @media screen and (max-width: $large) {
            padding: 125px 0px;
            margin-bottom: 90px;
        }
        @media screen and (max-width: $small) {
            padding: 80px 0px;
            margin-bottom: 60px;
            background-position: right;
        }
        .row {
            justify-content: flex-end;
        }
        &__text {
            background-color: $white;
            max-width: 625px;

            @media screen and (max-width: $large) {
                margin-left: auto;
                margin-right: auto;
            }
            @media screen and (max-width: $small) {
                max-width: 90%;
            }
            
            .image-edges__container {
                padding: 120px 80px;
                @media screen and (max-width: $large) {
                    padding: 120px 50px;
                }
                @media screen and (max-width: $small) {
                    padding: 50px 25px;
                }
            }
            h2 {
                margin-bottom: 60px;

                @media screen and (max-width: $small) {
                    margin-bottom: 40px;
                }
            }
            p {
                margin-bottom: 50px;

                @media screen and (max-width: $small) {
                    margin-bottom: 30px;
                }
            }
        }
    }
    .video-content {
        max-width: 710px;
        margin-left: auto;
    
        @media screen and (max-width: $large) {
            max-width: none;
        }
        &__video {
            @include aspect-ratio(16, 9);
    
            @media screen and (max-width: $small) {
                width: 100%;
                max-width: none;
            }
            iframe {
                width: 100%;
                height: 100%;
            }
        }
        a {
            display: inline-block;
            font-size: 18px;
            letter-spacing: 1px;
            color: $white;
            text-transform: uppercase;
            padding: 8px 30px;
            border-radius: 10px;
            transition: .5s ease;
            margin-top: 5px;
    
            @media screen and (max-width: $small) {
                margin-bottom: 30px;
                display: inline-block;
            }
            &:hover, &:active, &:focus {
                color: $white;
            }
        }
    }
    .our-brands {
        margin-bottom: 105px;

        @media screen and (max-width: $large) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            width: 100%;
            max-width: 100%;
            margin-bottom: 90px;
        }
        @media screen and (max-width: $small) {
            margin-bottom: 60px;
        }
        &__heading {
            width: 100%;
        }
        &__text {
            width: 100%;
        }
        p, a {
            margin-left: 40px;

            @media screen and (max-width: $medium) {
                margin-left: 0px;
            }
        }
        p {
            max-width: 790px;
            margin-bottom: 0px;

            a {
                display: inline;
                margin-left: 0px;
            }
            em {
                color: $green;
            }
        }
        &__logos {
            &__logo {
                margin-top: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                a {
                    
                    transform: scale(1);
                    transition: .35s ease;
            
                    &:hover {
                        transform: scale(1.15);
        
                        @media screen and (max-width: $small) {
                            transform: scale(1);
                        }
                    }
                }
                img {
                    max-width: 85%;
                }
            }
        }
    }
}