.site-wrapper {
    .mobile-nav {
        display: none;
        padding: 15px 30px;
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 1000;
        background-color: $white;
        cursor: default !important;

        @media screen and (max-width: $medium) {
            display: block;
        }
        @media screen and (max-height: 540px) {
            display: block;
        }
        &.bg {
            &:before {
                opacity: 1;
            }
            .burger {
                .bar {
                    background-color: $white;
                }
            }
        }
        &:before {
            content: '';
            background-image: url('../img/small-nav-bg.jpg');
            background-repeat: repeat-x;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
            opacity: 0;
            transition: all .3s ease;
        }
        header {
            display: flex;
            justify-content: center;
        }
        &__logo {
            width: 100px;
            align-self: center;

            @media screen and (max-width: $small) {
                margin-right: 25px;
            }
        }
        &__burger {
            color: $gray;
            font-size: 32px;
            align-self: center;
            margin-left: 30px;
            position: absolute;
            top: 15px;
            right: 30px;
            transform: rotate(0deg);

            @media screen and (max-width: $small) {
                right: 0px;
            }
            &:hover, &:active, &:focus {
                color: $gray;
            }
        }
        .burger {
            position: relative;

            .bar {
                height: 3px;
                width: 48px;
                margin: 10px auto;
                background-color: $green;
            }
        }
    }
}
.mobile-nav__search {
    label {
        display: none !important;
    }
}
.mm-wrapper_opening .mm-menu_position-front {
    background-color: $white;
}
.mm-menu_offcanvas {
    width: 100% !important;
    min-width: none !important;
    max-width: none !important;
    height: calc(100vh - 108px) !important;
    margin-top: 108px !important;

    input {
        padding: 8px 8px 8px 36px !important;
        margin-bottom: 15px !important;
        background-color: transparent;
        border: 1px solid $green !important;
        border-radius: 0px !important;
        text-align: left;
        font-family: $avenir !important;
        color: rgba($black, .75) !important;
        letter-spacing: 0px !important;
        margin-top: 30px !important;
        margin-bottom: 0px !important;
        width: calc(100% - 60px);
        outline: none;
        margin: 0px 30px;

        &[type="submit"] {
            font-size: 0px !important;
            background-color: transparent !important;
            padding: 0px !important;
            border-radius: 0px !important;
            background-image: url('../img/search.svg');
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 36px;
            height: 36px !important;
            border: none !important;
        }
    }
}
.mm-wrapper_opening .mm-menu_offcanvas ~ .mm-slideout {
    transform: translate3d(80vw, 0, 0) !important;
    cursor: pointer;
}
.mm-wrapper_opening {
    .burger {
        left: 8px;

        .arrow-top {
            transform: rotateZ(45deg) translateY(10px);
            width: 18px !important;
            position: relative;
            left: 10px;
        }
        .arrow-middle {
            transform: translateX(-14px);
        }
        .arrow-bottom {
            transform: rotateZ(-45deg) translateY(-10px);
            width: 18px !important;
            position: relative;
            left: 10px;
        }
    }
}
.mm-panels {
    height: calc(100% - 126px) !important;
}
#mm-1 {
    .mm-listview {
        li {
            &:first-of-type {
                a {
                    &:after {
                        top: 0px;
                    }
                }
            }
        }
    }
    .mm-listitem__text {
        padding: 10px 0px !important;
        font-family: $intro;
        font-size: 18px;
        line-height: 32px;
    }
}
#mm-2, #mm-3, #mm-4, #mm-5 {
    .mm-listview {
        li {
            &:first-of-type {
                margin-top: 15px;
                margin-bottom: 20px !important;
                width: 120px;

                a {             
                    line-height: 1;
                    margin-left: 0px;
                           
                    &:after {
                        display: none;
                    }
                }
            }
            &:nth-of-type(2) {
                margin-bottom: 10px;

                a {
                    font-family: $intro;
                    margin-left: 0px;
                    position: relative;

                    &:after {
                        content: '';
                        background-image: url('../img/green-caret-right.svg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 9px;
                        height: 16px;
                        transform: rotate(90deg);
                        top: 15px;
                        right: 3px;
                        position: absolute;
                    }
                }
            }
            a {
                font-size: 18px;
                line-height: 1.5;
                margin-left: 20px;
            }
        }
    }
    .form {
        .text-center {
            max-width: 444px;
            width: 100%;
            margin: 0px auto;
        }
    }
}
.mm-panel {
    background-color: $white !important;

    &:after {
        display: none !important;
    }
}
.mm-navbar {
    display: none !important;
}
.mm-listitem {
    border: none !important;

    &:after {
        display: none !important;
    }
}
.mm-listitem__text {
    padding: 10px 0px !important;
    color: $green !important;
}
.mm-listview {
    padding: 20px 30px !important;

    li {
        .form {
            width: 90%;
            margin: 0px auto;
        }
    }
}
.mm-btn {
    &:after, &:before {
        border: none !important;
        background-image: url('../img/green-caret-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 9px !important;
        height: 16px !important;
        transform: none !important;
        right: 5% !important;
        transition: .2s ease-in-out;
    }
}
.back {
    font-family: $intro;
    font-size: 18px;
    color: $white !important;
    text-transform: uppercase;
    transition: .3s ease;
    display: inline-block !important;
    text-align: center;
    padding: 15px 20px 15px 15px !important;
    border-radius: 100px;
    font-weight: normal;
    background-color: $green;

    &:before {
        content: '';
        display: inline-block;
        background-image: url('../img/white-caret-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 9px;
        height: 16px;
        transform: rotate(180deg);
        position: relative;
        top: 2px;
        left: 0px;
        margin-right: 10px;
        transition: .2s ease-in-out;
    }
}
#menu {
    background-color: $white;
    
    footer {
        .social {
            margin: 0px 30px;
            padding: 30px 0px;
            border-top: 1px solid $green;
            text-align: center;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 10px;

                &:last-of-type {
                    margin-right: 0px;
                }
                a {
                    color: $green;
                    font-size: 28px;
                    padding: 10px;
                    font-weight: normal;

                    &:hover, &:active, &:focus {
                        color: $green;
                    }
                }
            }
        }
        .footer-nav {
            background-image: url('../img/green-concrete-bg.png');
            padding: 30px 30px 20px;
            position: relative;

            &:after {
                content: '';
                background-image: url('../img/footer-leaf.png');
                background-repeat: no-repeat;
                background-size: cover;
                width: 54px;
                height: 126px;
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
            ul {
                margin: 0px 0px 20px;
                padding: 0px 0px 30px;
                text-align: center;
                border-bottom: 1px solid $white;

                li {
                    list-style-type: none;
                    display: inline-block;
                    padding: 0px 10px;
                    line-height: 12px;
                    border-right: 1px solid $white;

                    @media screen and (max-width: 350px) {
                        padding: 0px 5px;
                    }
                    &:first-of-type {
                        padding-left: 0px;
                    }
                    &:last-of-type {
                        padding-right: 0px;
                        border-right: none;
                    }
                    a {
                        font-size: 12px;
                        color: $white;

                        &:hover, &:active, &:focus {
                            color: $white;
                        }
                    }
                }
            }
            p {
                text-align: center;
                font-size: 10px;
                line-height: 20px;
                margin: 0px;
                color: $white;
            }
        }
    }
}
.mm-wrapper__blocker {
    top: 27px !important;
    right: 5% !important;
    bottom: auto !important;
    left: auto !important;
    width: 28px;
    height: 32px;
    cursor: pointer !important;
}
.mm-wrapper_blocking {
    @media screen and (min-width: 1001px) {
        overflow: auto !important;
    }
}
.mm-wrapper_opening .mm-menu_offcanvas ~ .mm-slideout {
    @media screen and (min-width: 1001px) {
        cursor: auto !important;
    }
}
#mm-6 {
    .mm-listitem {
        a {
            margin-left: 30px;
        }
        p {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 0px;
            padding: 0px calc(5% + 34px);
            line-height: 40px;

            a {
                color: $gray;

                &:hover, &:active, &:focus {
                    color: $purple;
                }
            }
        }
    }
    .sitemap__cols__col__top-level a, .back, .signin {
        margin-left: 0px !important;
    }
}
.error-page {
    #mm-1 {
        p {
            &.mm-listitem {
                display: none;
            }
        }
    }
}
.mm-menu_position-bottom.mm-menu_opened, .mm-menu_position-front.mm-menu_opened, .mm-menu_position-top.mm-menu_opened {
    z-index: 102 !important;
}