.site-wrapper {
    .news-divider {
        background-image: url('../img/news-divider.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        text-align: center;
        height: 265px;
        position: relative;
        margin-top: 50px;
        display: block;

        @media screen and (max-width: $medium) {
            height: 130px;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0px;
            width: 100%;
            height: 50px;
            background-image: url('../img/campaign-ripped-paper-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }
        span {
            color: $white;
            font-family: $atomico;
            font-size: 67px;
            letter-spacing: 5px;
            position: absolute;
            top: calc(50% - 10px);
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            @media screen and (max-width: $medium) {
                font-size: 45px;
            }
        }
    }
    .events-divider {
        background-image: url('../img/events-divider.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        text-align: center;
        height: 265px;
        position: relative;
        margin-top: 50px;
        display: block;

        @media screen and (max-width: $medium) {
            height: 130px;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0px;
            width: 100%;
            height: 50px;
            background-image: url('../img/campaign-ripped-paper-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }
        span {
            color: $white;
            font-family: $atomico;
            font-size: 67px;
            letter-spacing: 5px;
            position: absolute;
            top: calc(50% - 10px);
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            @media screen and (max-width: $medium) {
                font-size: 45px;
            }
        }
    }
    .news-heading, .events-heading {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1350px) {
            display: block;
        }
        .form {
            width: 300px;
            align-self: flex-end;

            @media screen and (max-width: 1350px) {
                width: 100%;
            }
            input {
                margin-bottom: 12px !important;
                padding: 5px !important;
                border-radius: 20px !important;
            }
        }
    }
    &.news-events {
        .search-form {
            @media screen and (max-width: $medium) {
                margin-top: 50px;
                margin-bottom: 20px;
            }
            @media screen and (max-width: $small) {
                margin-top: 30px;
                margin-bottom: 10px;
            }
        }
    }
}