.site-wrapper {
    &.product-detail {
        .breadcrumbs {
            .form {
                position: relative;
                width: 300px;
                max-width: none;
                vertical-align: top;
                margin-top: -27px;

                @media screen and (max-width: 1350px) {
                    max-width: 300px;
                    width: 50%;
                }
                @media screen and (max-width: 1000px) {
                    max-width: none;
                    width: 100%;
                    margin-top: 0px;
                }
                input {
                    padding: 5px !important;
                    border-radius: 10px !important;
                }
            }
            + .container-fluid {
                margin-top: 33px;
            }
        }
        .row {
            margin-left: -30px;
            margin-right: -30px;
        }
        .col-lg-4, .col-lg-8 {
            padding: 0px 30px;
        }
        .search-form {
            position: relative !important;
            top: 0px;
            width: 100%;
            margin: 50px 0px;
        }
        .featured-recipes {
            @media screen and (max-width: 900px) {
                margin-top: 20px;
            }
            h2 {
                text-align: center;
                margin-top: 0px;

                + p {
                    line-height: 20px;
                }
            }
            &__recipe {
                margin-bottom: 25px;
                display: flex;
                font-weight: normal;
                text-align: center;

                @media screen and (max-width: 900px) {
                    margin-bottom: 0px;
                }
                img {
                    margin-right: 25px;
                    width: 150px;
                    height: 150px;
                    float: left;

                    @media screen and (max-width: 1500px) {
                        width: 100px;
                        height: 100px;
                    }
                    @media screen and (max-width: 900px) {
                        float: none;
                        display: inline-block;
                        margin-right: 5%;
                        margin-bottom: 20px;
                    }
                }
                p {
                    color: $green;
                    margin-bottom: 0px;
                    font-size: 18px;
                    line-height: 22px;
                    align-self: center;
                    font-family: $intro;
                    text-align: left;

                    @media screen and (max-width: $medium) {
                        margin-bottom: 20px;
                    }
                    @media screen and (max-width: $small) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
        .products-sidebar {
            hr {
                @media screen and (max-width: $small) {
                    margin: calc(50px - 1em) 0px 60px;
                }
            }
        }
        .nutrition-info {
            margin: 80px 0px 50px;
            padding: 50px 0px;
            border-top: 2px solid $green;
            border-bottom: 2px solid $green;
            background-color: transparent;

            @media screen and (max-width: $small) {
                margin: 40px auto 50px;
                padding: 40px 0px;
            }
            ul {
                margin: 0px 0px 0px 30px;
                padding: 0px;

                li {
                    font-size: 20px;
                    line-height: 28px;
                    color: $green;

                    @media screen and (max-width: $small) {
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
        }
        .tag-section {
            margin-bottom: 70px;

            @media screen and (max-width: 900px) {
                justify-content: center;
            }
            .fa-tag {
                font-size: 22px;
            }
            .tags {
                width: calc(100% - 50px);
                margin-left: 10px;

                ul {
                    padding: 0px;
                }
            }
        }
        .world-map {
            margin-top: 40px;

            h2 {
                margin-bottom: 40px;
                font-size: 22px;
                line-height: 26px;
                font-family: $intro;
                color: $green;
            }
            .map-container {
                @include aspect-ratio(385, 220);
                box-shadow: 6px 6px 13px rgba($black, .24);
            }
            #world-map {
                width: 100%;
                height: 100%;
            }
            .map-directions {
                margin: 30px 0px 0px;
                text-align: center;
                display: none;

                @media screen and (max-width: $medium) {
                    display: block;
                }
            }
        }
        .product-actions {
            margin-top: 20px;
            width: 150px;
            text-align: right;
            position: relative;
            z-index: 2;
            margin-left: auto;

            &__share {
                margin-right: 30px;
                cursor: pointer;
                width: 31px;
                position: relative;
                display: inline-block;

                @media screen and (max-width: $small) {
                    width: 25px;
                    margin-right: 25px;
                }
                a {
                    display: block;
                }
                img {
                    width: 31px;

                    @media screen and (max-width: $small) {
                        width: 25px;
                    }
                }
            }
            &__print {
                margin-right: 30px;
                display: inline-block;
                width: 37px;
                position: relative;
                top: -1px;

                @media screen and (max-width: $medium) {
                    margin-right: 0px;
                }
                @media screen and (max-width: $small) {
                    width: 30px;
                }
                a {
                    display: block;
                }
                img {
                    width: 37px;

                    @media screen and (max-width: $small) {
                        width: 30px;
                    }
                }
            }
        }
        .varieties {
            margin-top: 50px;
            margin-bottom: 40px;

            &__heading {
                margin-bottom: 30px;

                span {
                    color: $green;
                    font-family: $intro;
                    font-size: 28px;
                    line-height: 26px;

                    @media screen and (max-width: $small) {
                        font-size: 24px;
                        line-height: 22px;
                    }
                }
            }
        }
        .product-varieties {
            display: flex;
            flex-wrap: wrap;
            margin: 0px -20px 10px;

            &__variety {
                padding: 0px 20px;
                text-align: center;
                cursor: pointer;
                width: 25%;
                margin-bottom: 20px;
                font-weight: normal;

                @media screen and (max-width: $small) {
                    width: 50%;
                }
                &__image {
                    position: relative;
                    @include image-mask('square','auto',true);
                    img {
                        height: auto;
                        width: 100%;
                    }
                    &__initial {
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: .2s ease-in-out;

                        img {
                            width: 100%;
                        }
                    }
                    &__hover {
                        max-width: 67px;
                        width: 100%;
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: .2s ease-in-out;

                        img {
                            width: 100%;
                        }
                    }
                }
                p {
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 0px;
                    margin-top: 15px;
                    text-align: left;

                    @media screen and (max-width: $small) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
        .how-tos {
            margin-top: 140px;
            margin-bottom: -1em;
            position: relative;
            z-index: 1;

            @media screen and (max-width: $small) {
                margin-top: 70px;
            }
            .row {
                margin-left: -35px;
                margin-right: -35px;
            }
            .col-lg-4 {
                padding-left: 35px;
                padding-right: 35px;

                @media screen and (max-width: $large) {
                    margin-bottom: 30px;
                }
                &:last-of-type {
                    @media screen and (max-width: $large) {
                        margin-bottom: 0px;
                    }
                }
            }
            h2 {
                font-size: 55px;
                margin-bottom: 30px;
            }
        }
        .leaf-img {
            position: relative;
            
            img {
                position: absolute;
                bottom: -65px;
                right: 0px;
            }
        }
    }
    &.products-landing {
        .gallery-cards {
            .row {
                &:first-of-type {
                    @media screen and (max-width: 900px) {
                        flex-direction: column-reverse;
                    }
                }
            }
        }
        .recommended-section {
            margin-top: 100px;
            padding: 90px 0px 105px;
            background-image: url('../img/suggested-products-recipes-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;

            @media screen and (max-width: $large) {
                margin-top: 90px;
            }
            @media screen and (max-width: $medium) {
                background-size: 1500px;
                background-position: top right;
                padding: 90px 0px 0px;
            }
            @media screen and (max-width: $small) {
                margin-top: 60px;
                padding: 60px 0px 0px;
            }
            h2 {
                margin-bottom: 25px;
            }
            .cards {
                margin: 0px !important;

                .card__img {
                    @media screen and (max-width: $medium) {
                        margin-bottom: 0px !important
                    }
                }
                .card__text {
                    @media screen and (max-width: $medium) {
                        margin-bottom: 10px !important
                    }
                }
            }
        }
        .section-container {
            &:last-of-type {
                .global-cards {
                    margin-top: 105px;
    
                    @media screen and (max-width: $medium) {
                        margin-top: 60px;
                    }
                    hr {
                        display: none;
    
                        @media screen and (max-width: $medium) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .suggested-recipes {
        h1 {
            margin-bottom: 0px;
        }
    }
}
