.site-wrapper {
    &.recipes-landing, &.products-landing, &.recipe-detail, &.product-detail, &.recipes-dataset {
        .gallery-cards {
            .card {
                .card__text__heading > * {
                    @include heading-22();
                    text-align: left;
                }
                @media screen and (max-width: $large) {
                    &:not(.featured-card) {
                        display: block;
                        border: none !important;

                        .card__img {
                            display: inline-block;
                            width: 47%;
                            margin-right: 3%;
                        }
                        .card__text {
                            display: inline-block;
                            width: 49%;
                            padding: 0px;
                            vertical-align: top;
                        }
                    }
                }
                @media screen and (max-width: $small) {
                    &:not(.featured-card) {
                        flex-direction: column;

                        .card__img {
                            width: 100%;
                            margin-right: 0%;
                            border-right: none;
                        }
                        .card__text {
                            width: 100%;
                        }
                    }
                }
            }
            .results-filtering {
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 0px;
                margin-bottom: -15px;
                margin-top: 5px;

                @media screen and (max-width: $medium) {
                    margin-top: 20px;
                    margin-bottom: 0px;
                }
                @media screen and (max-width: 900px) {
                    margin-bottom: 10px;
                }
                @media screen and (max-width: $small) {
                    margin-bottom: 20px;
                }
                .row {
                    justify-content: left;
                }
                &__col {
                    @media screen and (max-width: $medium) {
                        padding: 0px 15px;
                    }
                }
            }
        }
        .load-more {
            margin-top: 65px;

            @media screen and (max-width: $small) {
                margin-top: 30px;
                margin-bottom: -20px;
            }
            p {
                color: $green;
                font-size: 18px;
                line-height: 25px;
                font-style: italic;
            }
        }
    }
    &.recipes-landing, &.recipes-dataset {
        .page__title-container {
            width: 48%;

            @media screen and (max-width: $medium) {
                width: 100%;
            }
        }
        .main-content-wrapper {
            position: relative;

            &:before {
                content: '';
                width: 100%;
                height: 864px;
                background-image: url('../img/green-leaf-bg.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                position: absolute;
                top: calc(100vh - 400px);
                left: 0px;

                @media screen and (max-height: 1000px) {
                    top: 600px;
                }
                @media screen and (max-width: $medium) {
                    top: 600px;
                }
            }
        }
    }
    &.recipes-no-results {
        .main-content-wrapper {
            &:before {
                display: none !important;
            }
        }
        .section__header-container {
            .search-form {
                @media screen and (max-width: $medium) {
                    display: none;
                }
            }
        }
    }
    &.recipes-landing, &.recipes-dataset, &.product-category-landing {
        .browse-filters {
            width: 210%;

            @media screen and (max-width: $medium) {
                width: 100%;
            }
            &.nav-up {
                @media screen and (max-width: $medium) {
                    position: fixed;
                    top: 89px;
                    background-color: $white;
                    width: 100%;
                    display: block;
                    padding-top: 15px;
                    padding-left: 5%;
                    margin-left: -5%
                }
                .browse-by {
                    @media screen and (max-width: $medium) {
                        margin-top: 0px;
                        margin-bottom: 15px;
                    }
                }
                .fa-tag {
                    @media screen and (max-width: $medium) {
                        top: -4px;
                        margin-left: 0px;
                    }
                }
                .selected-filters {
                    @media screen and (max-width: $medium) {
                        position: relative;
                        top: -7px;
                        width: calc(100% - 276px);
                    }
                    @media screen and (max-width: $small) {
                        width: calc(100% - 206px);
                    }
                }
                .filter-flyout {
                    @media screen and (max-width: $medium) {
                        width: 98%;
                        margin-left: 1%;
                    }
                    &.is-open {
                        @media screen and (max-width: $medium) {
                            top: 56px;
                            max-height: calc(100vh - 145px);
                            overflow-y: auto;
                        }
                    }
                }
            }
        }
        .browse-by {
            margin: 50px 0px 35px 40px;

            @media screen and (max-width: $medium) {
                margin: 50px 0px 25px;
            }
        }
        .dataset-tags {
            display: flex;
            margin-left: 30px;

            @media screen and (max-width: $medium) {
                margin-left: 0px;
            }
        }
        .fa-tag {
            font-size: 25px;
            margin-left: 10px;
            margin-right: 20px;
            top: 2px;

            @media screen and (max-width: $medium) {
                margin-left: 0px;
            }
        }
        .filter-flyout {
            padding: 25px 60px 60px;
            position: absolute;
            top: 300px;
            left: 0px;
            z-index: 2;
            background-color: $green;
            box-shadow: 6px 6px 13px rgba($black, .24);
            width: calc(100% - 40px);
            margin-left: 40px;
            opacity: 0;
            visibility: hidden;
            transition: .4s ease-in-out;

            @media screen and (max-width: $medium) {
                width: 100%;
                margin-left: 0px;
                padding: 5px 40px 40px;
                top: 250px;
            }
            @media screen and (max-width: $small) {
                padding: 15px 30px 40px;
                top: 210px;
            }
            &.is-open {
                opacity: 1;
                visibility: visible;
                top: 310px;

                @media screen and (max-width: 1500px) {
                    top: 270px;
                }
                @media screen and (max-width: $medium) {
                    top: 250px;
                }
                @media screen and (max-width: $small) {
                    top: 200px;
                }
            }
            .close-flyout {
                position: absolute;
                top: 15px;
                right: 20px;

                a {
                    font-size: 22px;
                    color: $gray;
                    position: relative;
                    z-index: 1;

                    &:hover, &:active, &:focus {
                        color: $purple;
                    }
                }
            }
            .form {
                width: 100%;
                margin-top: 0px;
                padding: 0px;

                input[type="submit"] {
                    display: inline-block;
                    margin-top: 35px;
                    margin-bottom: 0px !important;
                    border: 2px solid $white;
                    border-radius: 100px;
                    padding: 25px 40px 23px;
                    font-size: 22px;
                    width: auto;
                    margin-bottom: 10px;
                    transition: .2s ease-in-out;
                    background-color: $white;
                    color: $green;
                    font-family: $intro;

                    @media screen and (max-width: $small) {
                        padding: 15px 30px 13px;
                        font-size: 18px;
                        margin-top: 25px;
                    }
                    &:hover {
                        background-color: transparent;
                        color: $white;
                    }
                }
            }
            &__section {
                border-bottom: 2px solid $white;
                padding: 35px 0px 15px;

                @media screen and (max-width: $small) {
                    padding: 25px 0px 15px;
                }
                &__title {
                    display: block;
                    margin: 0px 0px 25px;
                    color: $white;
                    font-family: $intro;
                    font-size: 22px;

                    @media screen and (max-width: $small) {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                }
                &__filter {
                    display: inline-block;
                    margin-right: 10px;

                    input {
                        display: none;

                        &:checked {
                            + label {
                                border: 2px solid $light-green;
                                background-color: $light-green;
                                color: $white;
                                background-image: none;
                                font-weight: bold;

                                &:hover {
                                    background-color: $light-green;
                                    color: $white;
                                }
                            }
                        }
                        + label {
                            border: 2px solid $white;
                            border-radius: 100px;
                            padding: 15px 25px 13px;
                            font-size: 18px;
                            font-weight: normal;
                            width: auto;
                            margin-bottom: 10px;
                            transition: .2s ease-in-out;
                            background-image: none;
                            position: relative;
                            overflow: visible;
                            height: auto;
                            clip: unset;
                            margin: 0px 0px 15px;
                            color: $white;
                            font-family: $avenir;
                            cursor: pointer;

                            @media screen and (max-width: $small) {
                                font-size: 16px;
                                padding: 10px 20px 8px;
                                margin: 0px 0px 10px;
                            }
                            &:hover {
                                background-color: $white;
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
        .selected-filters {
            display: inline-block;
            width: 100%;

            ul {
                margin: 0px;
                padding: 0px;

                li {
                    list-style-type: none;
                    display: inline-block;
                    padding-right: 10px;
                    margin-bottom: 10px;

                    &.-more {
                        > button {
                            font-weight: bold;
                        }
                    }
                }
            }
            &__filter {
                background-color: transparent;
                color: $green;
                padding: 5px 12px;
                border-radius: 20px;
                border: 2px solid $green;
                font-size: 16px;
                font-weight: normal;
                cursor: pointer;
                display: inline-block;

                &:last-of-type {
                    margin-right: 0px;
                }
                &:hover, &:focus, &:active {
                    background-color: $red;
                    border-color: $red;
                    color: $white;
                }
                span {
                    margin-left: 5px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
    .no-results {
        margin-top: 70px;

        @media screen and (max-width: $medium) {
            margin-top: 40px;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 34px;
            margin-bottom: 10px;

            @media screen and (max-width: $medium) {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 30px;
                letter-spacing: 0px;;
            }
        }
        .form {
            margin: 0px auto 70px;

            @media screen and (max-width: $medium) {
                margin: 0px auto 20px;
            }
        }
    }
    &.recipe-detail {
        .container-fluid {
            .row {
                margin-left: -30px;
                margin-right: -30px;
            }
        }
        .col-lg-8, .col-lg-4 {
            padding: 0px 30px;
        }
        .search-form {
            position: relative !important;
            top: 0px;
            width: 100%;
            margin: 50px 0px;
        }
        .recipes-sidebar-container {
            hr {
                margin: 50px 0px;
                max-width: none;
            }
        }
        .recipes-sidebar {
            @media screen and (max-width: $large) {
                margin-top: -20px;
            }
            .fa-tag {
                font-size: 22px;
            }
            .tags {
                width: calc(100% - 50px);
                margin-left: 10px;

                ul {
                    padding: 0px;
                }
            }
        }
        .recipe-actions {
            margin-top: 20px;
            width: 150px;
            text-align: right;
            position: relative;
            z-index: 2;
            margin-left: auto;

            &__share {
                margin-right: 30px;
                cursor: pointer;
                width: 31px;
                position: relative;
                display: inline-block;

                @media screen and (max-width: $small) {
                    width: 25px;
                    margin-right: 25px;
                }
                a {
                    display: block;
                }
                img {
                    width: 31px;

                    @media screen and (max-width: $small) {
                        width: 25px;
                    }
                }
            }
            &__print {
                margin-right: 30px;
                display: inline-block;
                width: 37px;
                position: relative;
                top: -1px;

                @media screen and (max-width: $medium) {
                    margin-right: 0px;
                }
                @media screen and (max-width: $small) {
                    width: 30px;
                }
                a {
                    display: block;
                }
                img {
                    width: 37px;

                    @media screen and (max-width: $small) {
                        width: 30px;
                    }
                }
            }
        }
        .recipe-body {
            .recipe-notes {
                margin: 50px 0px -40px;
                
                @media screen and (max-width: $small) {
                    margin: 50px 0px -30px;
                }
                &__note {
                    display: flex;

                    h2 {
                        margin-right: 20px;
                    }
                    p {
                        margin-bottom: 0px;

                        @media screen and (max-width: $small) {
                            line-height: 20px;
                        }
                    }
                }
            }
            h2 {
                font-family: $intro;
                font-size: 28px;
                line-height: 26px;
                color: $green;
                margin-bottom: 40px;

                @media screen and (max-width: $small) {
                    font-size: 22px;
                    line-height: 20px;
                    margin-bottom: 30px;
                }
            }
            
            hr {
                max-width: 420px;
                margin: 60px 0px;

                @media screen and (max-width: $large) {
                    max-width: none;
                }
                @media screen and (max-width: $small) {
                    margin: 50px 0px;
                }
            }
            .ingredient-list {
                margin: 0px;
                padding: 0px;

                li {
                    list-style-type: none;
                    @include text-22(false,1.75);   
                    .ingredient-divider {
                        font-weight: bold;
                        display: block;
                        margin-top: 20px;
                    }
                    .ingredient-amt {
                        display: inline-block;
                        color: $green;
                        font-weight: bold;
                    }
                    .ingredient {
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }

            ol {
                li {
                    @include text-22(false,1.375);              
                    margin-bottom: 1em;
                }
            }

        }
        .leaf-img {
            position: relative;
            
            img {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }
        .recipe-video-section {
            margin: 50px 0px 0px;

            @media screen and (max-width: $large) {
                margin: 40px 0px 20px;
            }
            .row {
                margin-left: -15px;
                margin-right: -15px;
            }
            &__video {
                @include aspect-ratio(16, 9);
                width: 100%;
                height: 100%;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .recommended-section {
            margin-top: 130px;
            padding: 90px 0px 105px;
            background-image: url('../img/suggested-products-recipes-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;

            @media screen and (max-width: $large) {
                margin-top: 90px;
            }
            @media screen and (max-width: $medium) {
                background-size: 1500px;
                background-position: top right;
                padding: 90px 0px 0px;
            }
            @media screen and (max-width: $small) {
                margin-top: 60px;
                padding: 60px 0px 0px;
            }
            h2 {
                margin-bottom: 25px;
            }
            .cards {
                margin: 0px !important;
            }
        }
        .global-cards {
            margin-top: 105px;

            @media screen and (max-width: $medium) {
                margin-top: 60px;
            }
            hr {
                display: none;

                @media screen and (max-width: $medium) {
                    display: block;
                }
            }
        }
    }
}
