.site-wrapper {
    &.recipe-detail {
        &.watermelon-rind-theme {
            .recipe-slider {
                border-bottom: 15px solid #74aa50;

                .flickity-page-dots {
                    .dot {
                        &.is-selected {
                            &:after {
                                background-color: #74aa50;
                            }
                        }
                    }
                }
            }
            h1 {
                color: #74aa50;
            }
        }
        &.celery-theme {
            .recipe-slider {
                border-bottom: 15px solid #a4d65e;

                .flickity-page-dots {
                    .dot {
                        &.is-selected {
                            &:after {
                                background-color: #a4d65e;
                            }
                        }
                    }
                }
            }
            h1 {
                color: #a4d65e;
            }
        }
        &.artichoke-theme {
            .recipe-slider {
                border-bottom: 15px solid #d2d755;

                .flickity-page-dots {
                    .dot {
                        &.is-selected {
                            &:after {
                                background-color: #d2d755;
                            }
                        }
                    }
                }
            }
            h1 {
                color: #d2d755;
            }
        }
        &.banana-theme {
            .recipe-slider {
                border-bottom: 15px solid #ede049;

                .flickity-page-dots {
                    .dot {
                        &.is-selected {
                            &:after {
                                background-color: #ede049;
                            }
                        }
                    }
                }
            }
            h1 {
                color: #ede049;
            }
        }
        &.pineapple-theme {
            .recipe-slider {
                border-bottom: 15px solid #ed8b00;

                .flickity-page-dots {
                    .dot {
                        &.is-selected {
                            &:after {
                                background-color: #ed8b00;
                            }
                        }
                    }
                }
            }
            h1 {
                color: #ed8b00;
            }
        }
        &.strawberry-theme {
            .recipe-slider {
                border-bottom: 15px solid #ef3340;

                .flickity-page-dots {
                    .dot {
                        &.is-selected {
                            &:after {
                                background-color: #ef3340;
                            }
                        }
                    }
                }
            }
            h1 {
                color: #ef3340;
            }
        }
        &.red-grape-theme {
            .recipe-slider {
                border-bottom: 15px solid #a15a95;
                
                .flickity-page-dots {
                    .dot {
                        &.is-selected {
                            &:after {
                                background-color: #a15a95;
                            }
                        }
                    }
                }
            }
            h1 {
                color: #a15a95;
            }
        }
    }
}