.site-wrapper {
    .sidebar {
        width: 284px;
        position: fixed;
        z-index: 100;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        
        @media screen and(max-width: $medium) {
            display: none;
        }
        @media screen and (max-height: 540px) {
            display: none;
        }
        &__header {
            position: relative;
            padding: 10% 0% 5%;
            display: flex;
            flex-wrap: wrap;
            width: calc(100% - 13px);
            height: calc(100% - 113px);
            box-shadow: 0px 0px 40px black;
            background-color: $white;
    
            @media screen and (max-height: 670px) {
                height: auto;
                padding: 6% 0% 3%;
            }
            &:after {
                content: '';
                width: 24px;
                height: 100%;
                background-image: url('../img/right-rip-mirrored.png');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0px;
                right: -21px;
                overflow-y: hidden;
            }
        }
        &__login {
            text-align: center;
            padding: 0% 15% 20px;
            width: 100%;
            position: relative;
    
            &__signin {
                background-color: $green;
                color: $white;
                font-size: 11px;
                font-weight: normal;
                letter-spacing: 1px;
                padding: 2px 10px 3px;
                border-radius: 12px;
                margin-right: 10px;
    
                &:hover, &:focus, &:active {
                    background-color: darken($green, 15%);
                    color: $white;
                }
            }
            &__sitemap {
                display: inline-block;
            }
            span {
                font-size: 21px;
                color: $gray;
                position: relative;
                top: 4px;
                transition: .5s ease-in-out;
            }
            &__search {
                img {
                    width: 20px;
                    position: relative;
                    top: -1px;
                    margin-left: 7px;
                }
            }
        }
        &__logo {
            max-width: 100px;
            margin: 0px auto 10px;
            width: 100%;
        }
        &__search {
            padding: 0% 15%;
            width: 100%;
    
            input {
                padding: 3px !important;
                margin-bottom: 15px !important;
            }
        }
        &__navigation {
            width: 100%;
    
            ul {
                margin: 0px 0px 11px 0px;
                width: 108%;
    
                li {
                    list-style-type: none;
                    width: 100%;
                    position: relative;
    
                    &:hover, &:active, &:focus {
                        a {
                            + ul {
                                opacity: 1;
                                visibility: visible;
                                right: -235px;

                                @media screen and (max-height: 620px) {
                                    right: -230px;
                                }
                            }
                        }
                    }
                    a {
                        color: $gray;
                        font-size: 14px;
                        font-weight: normal;
                        display: block;
                        width: 100%;
                        padding: 6px 0px 6px 18%;
                        position: relative;
                        z-index: 2;
    
                        &:hover, &:focus, &:active {
                            color: $purple;
    
                            &:after {
                                opacity: 1;
                            }
                        }
                    }
                    ul {
                        position: absolute;
                        top: 0px;
                        right: -170px;
                        width: 250px;
                        padding: 10px 10px 10px 0px;
                        border-radius: 0px 10px 10px 0px;
                        background-color: white;
                        box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
                        z-index: -1;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s ease-in-out;
    
                        li {
                            &:nth-of-type(10n + 1) {
                                a {
                                    .line {
                                        background-color: $green;
    
                                        &:after {
                                            border-left: 6px solid $green;
                                        }
                                    }
                                }
                            }
                            &:nth-of-type(10n + 2) {
                                a {
                                    .line {
                                        background-color: #a45a96;
    
                                        &:after {
                                            border-left: 6px solid #a45a96;
                                        }
                                    }
                                }
                            }
                            &:nth-of-type(10n + 3) {
                                a {
                                    .line {
                                        background-color: $blue;
    
                                        &:after {
                                            border-left: 6px solid $blue;
                                        }
                                    }
                                }
                            }
                            &:nth-of-type(10n + 4) {
                                a {
                                    .line {
                                        background-color: $orange;
    
                                        &:after {
                                            border-left: 6px solid $orange;
                                        }
                                    }
                                }
                            }
                            &:nth-of-type(10n + 5) {
                                a {
                                    .line {
                                        background-color: #ef3340;
    
                                        &:after {
                                            border-left: 6px solid #ef3340;
                                        }
                                    }
                                }
                            }
                            &:nth-of-type(10n + 6) {
                                a {
                                    .line {
                                        background-color: #ede04b;
    
                                        &:after {
                                            border-left: 6px solid #ede04b;
                                        }
                                    }
                                }
                            }
                            &:nth-of-type(10n + 7) {
                                a {
                                    .line {
                                        background-color: #ff8b9a;
    
                                        &:after {
                                            border-left: 6px solid #ff8b9a;
                                        }
                                    }
                                }
                            }
                            &:nth-of-type(10n + 8) {
                                a {
                                    .line {
                                        background-color: #535486;
    
                                        &:after {
                                            border-left: 6px solid #535486;
                                        }
                                    }
                                }
                            }
                            &:nth-of-type(10n + 9) {
                                a {
                                    .line {
                                        background-color: #fdbe87;
    
                                        &:after {
                                            border-left: 6px solid #fdbe87;
                                        }
                                    }
                                }
                            }
                            &:nth-of-type(10n + 10) {
                                a {
                                    .line {
                                        background-color: #a7aca2;
    
                                        &:after {
                                            border-left: 6px solid #a7aca2;
                                        }
                                    }
                                }
                            }
                            a {
                                padding-left: 0px;
                                display: flex;
                                flex-wrap: wrap;
    
                                &:hover, &:focus, &:active {
                                    &:after {
                                        opacity: 0;
                                    }
                                    .line {
                                        width: 80px;
                                    }
                                }
                                .line {
                                    margin-right: 20px;
                                    width: 50px;
                                    height: 6px;
                                    position: relative;
                                    align-self: center;
                                    transition: .3s ease-in-out;
    
                                    &:after {
                                        content: '';
                                        display: inline-block;
                                        width: 0px;
                                        height: 0px;
                                        border-top: 3px solid transparent;
                                        border-bottom: 3px solid transparent;
                                        position: absolute;
                                        top: 0px;
                                        right: -6px;
                                    }
                                }
                                .subnav-text {
                                    width: calc(100% - 100px);
                                    transition: .3s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__top {
            width: 100%;
        }
        &__bottom {
            width: 100%;
            align-self: flex-end;
            position: relative;
        }
        &__newsletter {
            .btn {
                width: 100%;
                max-width: 85%;
                margin: 0px auto 10px;
                display: block;
                padding: 8px 30px;
                font-weight: bold;
                line-height: 1;
            }
            p {
                margin: 0% 20%;
                font-size: 10px;
                line-height: 14px;
                font-weight: bold;
                text-align: center;
            }
        }
        &__social {
            margin: 30px 15% 10px;
            border-top: 1px solid #cfcfcf;
    
            @media screen and (max-height: 620px) {
                margin-top: 20px;
            }
            ul {
                margin: 10px 0px 0px 0px;
                text-align: center;
    
                li {
                    list-style-type: none;
                    display: inline-block;
    
                    &:last-of-type {
                        a {
                            margin-right: 0px;
                        }
                    }
                    a {
                        color: $gray;
                        font-size: 18px;
                        font-weight: bold;
                        margin-right: 8px;
                        padding: 5px;
                        font-weight: normal;
    
                        &:hover, &:active, &:focus {
                            color: $purple;
                        }
                    }
                }
            }
        }
    }
    .flyout-signin {
        background-color: $white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
        position: absolute;
        top: 0px;
        right: -290px;
        z-index: -1;
        width: 350px;
        padding: 30px 30px 30px 40px;
        border-radius: 0px 10px 10px 0px;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
    
        &.open {
            opacity: 1;
            visibility: visible;
            right: -355px;

            @media screen and (max-height: 620px) {
                right: -345px;
            }
        }
        .validation-error {
            .validation-text {
                margin-bottom: 20px;
                margin-top: -15px;
                text-align: left;
            }
        }
    }
    .flyout-newsletter {
        background-color: $white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
        position: absolute;
        bottom: -80px;
        right: -485px;
        z-index: -1;
        width: 550px;
        padding: 30px 30px 30px 45px;
        border-radius: 0px 10px 10px 0px;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
    
        @media screen and (max-height: 620px) {
            top: -150px;
        }
        &.open {
            opacity: 1;
            visibility: visible;
            right: -550px;

            @media screen and (max-height: 620px) {
                right: -540px;
            }
        }
        .align-center {
            input {
                &[type="checkbox"] {
                    + label {
                        width: auto;
                    }
                }
            }
        }
        .validation-error {
            input, select {
                &[type="checkbox"] {
                    + label {
                        + .validation-text {
                            margin-top: -5px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            .validation-text {
                margin-bottom: 20px;
                margin-top: -12px;
            }
        }
    }
    div {
        &[data-sf-role="field-captcha-container"] {
            > div {
                width: 330px;
                margin: 0px auto;

                img {
                    border: 1px solid $gray;
                    border-radius: 10px;
                }
            }
        }
        a {
            &[data-sf-role="captcha-refresh-button"] {
                width: 325px;
                display: block;
                margin: 5px auto 15px;
                font-size: 14px;
                text-align: left;
            }
            + .form-inline {
                .form-group {
                    width: 100%;

                    input {
                        &[data-sf-role="captcha-input"] {
                            width: 100%;
                            margin-bottom: 10px !important;

                            @media screen and (max-width: $small) {
                                margin-bottom: 0px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .sf-Captcha-button {
        background-color: $green;
        border: 1px solid $green;
        padding: 10px 50px !important;

        &:hover, &:focus, &:active {
            box-shadow: none !important;
            outline: none !important;
            border: 1px solid $green !important;
            background-color: darken($green, 15%) !important;
        }
    }
}