.site-wrapper {
    .cookies-prompt {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        z-index: 99999;
        background-color: #535486;
        padding: 30px;
    
        @media screen and (max-width: $large) {
            padding: 20px;
        }
        .section-container {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin-top: 0px !important;
    
            @media screen and (max-width: $large) {
                display: block;
            }
        }
        &__text {
            width: calc(100% - 428px);
            margin-right: 50px;
            align-self: center;
    
            @media screen and (max-width: $large) {
                width: 100%;
                margin-bottom: 20px;
            }
            p {
                margin: 0px;
                color: $white;
                line-height: 22px;
    
                @media screen and (max-width: $large) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        &__buttons {
            width: 378px;
            align-self: center;
    
            @media screen and (max-width: $large) {
                width: 100%;
                text-align: center;
            }
            .btn {
                @media screen and (max-width: 370px) {
                    padding: 10px 20px;
                }
            }
            .btn--green {
                margin-right: 15px;
            }
        }
        .remodal-close {
            left: auto;
            right: 0px;
            color: $white;
    
            &:before {
                font-size: 40px;
                top: 10px;
                left: -10px;
            }
            &:hover, &:focus, &:active {
                color: $white;
            }
        }
    }
}