.site-wrapper {
    .accordion {
        margin-top: 40px;
        margin-bottom: 160px;

        @media screen and (max-width: $medium) {
            margin-top: 30px;
            margin-bottom: 100px;
        }
        @media screen and (max-width: $small) {
            margin-top: 20px;
            margin-bottom: 0px;
        }
        &__item {
            border-bottom: 2px solid $green;
    
            &:last-of-type {
                border-bottom: none;
            }
            &__title {
                cursor: pointer;
                padding: clamp(25px,6vw,50px) 0px;
                position: relative;
    
                @media screen and (max-width: $medium) {
                    padding: 40px 0px;
                }
                @media screen and (max-width: $small) {
                    padding: 30px 0px;
                }
                // &:hover {
                //     p {
                //         color: $purple;
                //     }
                //     &:after {
                //         background-image: url('../img/mobile-nav-arrow-hover.png');
                //     }
                // }
                svg {
                    color: $green;
                    display: block;
                    content: '';
                    background-repeat: no-repeat;
                    width: 12px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translateY(-50%);
                    transition: .3s ease-in-out;
                }
                &[aria-expanded="true"] {
                    svg {
                        transform: translateY(-50%) rotate(90deg);
                    }
                }
                p {
                    @include heading-22($green,1.125);
                    margin-bottom: 0px;
                    width: calc(100% - 20px);
                    text-transform: uppercase; 
                    transition: .2s ease-in-out;

                    @media screen and (max-width: $medium) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
            &__content {
                p, ul, ol {
                    @include text-18();
                    padding: 0px 50px;
                    line-height: 25px;

                    @media screen and (max-width: $medium) {
                        padding: 0px 30px;
                    }
                    @media screen and (max-width: $small) {
                        padding: 0px;
                    }
                    &:last-child {
                        margin-bottom: 50px;
                        
                        @media screen and (max-width: $medium) {
                            margin-bottom: 40px;
                        }
                        @media screen and (max-width: $small) {
                            margin-bottom: 30px;
                        }
                    }
                }
                ul, ol {
                    padding-left: 70px;

                    @media screen and (max-width: $medium) {
                        padding-left: 50px;
                    }
                    @media screen and (max-width: $small) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}