.site-wrapper {
    .lg-calendar {
        .left-align {
            text-align: left;
        }
        .right-align {
            text-align: right;
        }
        .calendar-parent {
            font-family: $arial;
            font-size: 14px;
        }

        .calendar-parent .day {
            background-color: $white;
        }

        .calendar-parent .clndr .clndr-controls {
            display: flex;
            justify-content: space-around;
            width: 100%;
            position: relative;
            background-color: $green;
            padding: 3em 15px;
        }
        .calendar-parent .clndr .clndr-controls .month {
            @include heading-28($white,1);
            text-align: center;
        }
        
        .calendar-parent .clndr .clndr-controls .clndr-control-button {
            &:first-of-type {
                margin-left: auto;
                margin-right: 10%;
            }
            &:last-of-type {
                margin-right: auto;
                margin-left: 10%;
            }
        }

        .calendar-parent .clndr .clndr-controls .clndr-control-button [class*="button"]{
            cursor: pointer;
            display: block;
            font-size: 0px;
            margin: 0px auto;
            position: relative;
            top: 3px;
            width: 20px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            &:after {
                content: '';
                display: inline-block;
                background-image: url('../img/icon-angle-right.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: relative;
            }            
        }

        .calendar-parent .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
            &:after {
                transform: scale(-1);
            }
        }


        .calendar-parent .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
            opacity: 0.5;
        }
        .calendar-parent .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
            background: none;
            cursor: default;
        }
        .calendar-parent .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            display: block;
            width: 20px;
            margin: 0px auto;
            position: relative;
            top: 3px;
            font-size: 0px;

            &:after {
                content: '';
                display: inline-block;
                background-image: url('../img/icon-angle-right.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: relative;
            }
        }
        .calendar-parent .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
            opacity: 0.5;
        }
        .calendar-parent .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
            background: none;
            cursor: default;
        }
        .calendar-parent .clndr .clndr-table {
            table-layout: fixed;
            width: 100%;
            border-collapse: inherit;
        }
        .calendar-parent .clndr .clndr-table .header-days {
            background-color: $green;
            // height: 30px;
            // font-size: 10px;
            // background: $purple;
        }
        .calendar-parent .clndr .clndr-table .header-days .header-day {
            @include heading-22($white,1);
            padding: .5em 15px;
            text-align: center;
            // vertical-align: middle;
            // text-align: center;
            // color: #fff;
            // font-size: 14px;
            // font-weight: bold;
            // padding-bottom: 5px;
        }
        .calendar-parent .clndr .clndr-table .header-days .header-day:last-child {
            border-right: 1px solid $purple;
        }
        .calendar-parent .clndr .clndr-table tr td {
            vertical-align: top;
        }
        .calendar-parent .clndr .clndr-table tr .day {
            border-left: 2px solid $green;
            border-top: 2px solid $green;
            width: 100%;
            height: inherit;
            @include aspect-ratio(1, 1);
            @media screen and (max-width: $medium) {
                border-left: 1px solid $green;
                border-top: 1px solid $green;
            }
        }
        .calendar-parent .clndr .clndr-table tr .day.event,
        .calendar-parent .clndr .clndr-table tr .day.my-event {
            background: $green;
            cursor: pointer;
            transition: .2s ease-in-out;
            
            .day-contents {
                color: $white;
            }
        }
        .calendar-parent .clndr .clndr-table tr .day.event:hover,
        .calendar-parent .clndr .clndr-table tr .day.my-event:hover {
            background: darken($green, 12%);
        }
        .calendar-parent .clndr .clndr-table tr .day.inactive,
        .calendar-parent .clndr .clndr-table tr .day.my-inactive {
        background: #ddd;
            }
        .calendar-parent .clndr .clndr-table tr .day:last-child {
            border-right: 2px solid $green;
            @media screen and (max-width: $medium) {
                border-right: 1px solid $green;
            }
        }
        .calendar-parent .clndr .clndr-table tr .day .day-contents {
            padding: .75em;
            @include text-22($green,1,$intro);
            @media screen and (max-width: $medium) {
                padding: 8px;
            }
        }
        .calendar-parent .clndr .clndr-table tr .empty,
        .calendar-parent .clndr .clndr-table tr .adjacent-month,
        .calendar-parent .clndr .clndr-table tr .my-empty,
        .calendar-parent .clndr .clndr-table tr .my-adjacent-month {
            border-left: 2px solid $green;
            border-top: 2px solid $green;
            width: 100%;
            height: inherit;
            background: #eee;
            @media screen and (max-width: $medium) {
                border-left: 1px solid $green;
                border-top: 1px solid $green;
            }
        }
        .calendar-parent .clndr .clndr-table tr .adjacent-month.event {
            background: #cadfad;
            cursor: default;

            &:hover {
                background: #cadfad;
            }
            .day-contents {
                color: $gray;
            }
        }
        .calendar-parent .clndr .clndr-table tr .empty:last-child,
        .calendar-parent .clndr .clndr-table tr .adjacent-month:last-child,
        .calendar-parent .clndr .clndr-table tr .my-empty:last-child,
        .calendar-parent .clndr .clndr-table tr .my-adjacent-month:last-child {
            border-right: 2px solid $green;
            @media screen and (max-width: $medium) {
                border-right: 1px solid $green;
            }
        }
        .calendar-parent .clndr .clndr-table tr:last-child .day,
        .calendar-parent .clndr .clndr-table tr:last-child .my-day {
            border-bottom: 2px solid $green;
            @media screen and (max-width: $medium) {
                border-bottom: 1px solid $green;
            }
        }
        .calendar-parent .clndr .clndr-table tr:last-child .empty,
        .calendar-parent .clndr .clndr-table tr:last-child .my-empty {
            border-bottom: 2px solid $green;
            @media screen and (max-width: $medium) {
                border-bottom: 1px solid $green;
            }
        }
            
        .clndr-next-button,
        .clndr-previous-button,
        .clndr-next-year-button,
        .clndr-previous-year-button {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
        .clndr-next-button.inactive,
        .clndr-previous-button.inactive,
        .clndr-next-year-button.inactive,
        .clndr-previous-year-button.inactive {
            opacity: 0.5;
            cursor: default;
        }
    }
}

.calendar-section {
    margin-top: 80px;

    @media screen and (max-width: $medium) {
        margin-top: 50px;
    }
}

@media screen and (min-width: $medium-start) {
    .calendar-section {
        padding-left: 40px;
    }
}

