
.events {
    margin-bottom: clamp(40px,6vw,88px);
    margin-top: clamp(40px,6vw,80px);   
}

.event {
    &:first-of-type {
        .event__title {
            border-top: none;
        }
    }
    .tag-section {
		ul {
			padding: 0px;
			margin-bottom: 25px;
		}
	}
}

.event__title {
    align-items: center;
    background-color: transparent;
    border-top: 2px solid $green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5em 15px;
    position: relative;
    transition: all .2s ease-in-out;

    @media screen and (max-width: $small) {
        padding: 30px 15px;
    }
    h3 {
        @media screen and (max-width: $small) {
            margin: 3px 0px !important;
        }
    }
    &[aria-expanded="true"]{
    }

    &[aria-expanded="false"]{
        &:hover,
        &:focus {
            background-color: rgba($black,.05);
        }
    }


    h1,h2,h3,h4,h5,h6 {
        @include heading-28();
        margin: 0 1em 0 0;
    }
}

.event__content {
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
}

.event__title__details {
    font-style: italic;

    @media screen and (max-width: $small) {
        margin: 3px 0px;
    }
}

.event-details {
    .load-more {
        margin-top: 30px;
        p {
            color: $green;
            font-size: 18px;
            line-height: 25px;
            font-style: italic;        
        }
    }
}

.event__location {
    margin-bottom: 20px;
    padding-left: 35px;
    position: relative;
    &:before {
        color: $green;
        content: '\f3c5';
        font-family: $icons;
        font-size: 1.5rem;
        font-weight: 600;
        left: 0;
        position: absolute;
        top: 0;
    }

    p {
        color: $green;
        @include text-18(1);
        font-weight: 500;
        margin-bottom: 0;
    }
}

.event-links {
    padding-bottom: clamp(30px,6vw,60px);
    padding-top: 50px;
    position: relative;
}

.event-links__buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.event-links__social {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    
    a {
        &:hover, &:active, &:focus {
            color: $green;
        }
    }
    svg {
        height: 30px;
        width: 30px;
    }
}

// news and events
.upcoming-events {
    margin-top: clamp(100px,10vw,215px);
}

.news-landing .page__subhead {
    margin-top: 2em;
}

.upcoming-events__events {
    padding-bottom: clamp(50px,5vw,75px);
    padding-top: clamp(0px,5vw,75px);

    .btn-inline {
        @media screen and (max-width: $small) {
            font-size: 18px;
        }
        svg {
            @media screen and (max-width: $small) {
                width: 8px;
                height: 15px;
                top: 8px;
            }
        }
    }
}

@media screen and (max-width: $small) {
    .event-links__buttons {
        justify-content: center;
    }
}

@media screen and (min-width: $medium-start) {
    
    .news-landing,
    .event-details {
        .page__subhead {
            padding-left: 40px;
        }
        .browse-filters .btn.browse-by {
            margin-left: 40px;
        }
    }

    .upcoming-events__message {
        padding-left: 2em;   
    }

}
.no-events {
    padding-left: 40px;

    @media screen and (max-width: $medium) {
        padding-left: 0px;
    }
}