.site-wrapper {
    .tabs {
        position: relative;
        border: none;
        background-color: transparent;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }
    
    .tabs:not(.-jsfied) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    
    .tabs .-hidden {
        display: none!important
    }
    
    .tabs .-primary {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    
    .tabs .-primary button,.tabs .-primary>a {
        white-space: nowrap
    }
    
    .tabs .-primary .-more a,.tabs .-primary .-more>button {
        padding: 5px 12px;
        border-radius: 20px;
        font-weight: normal;
        transition: .2s ease-in-out
    }
    
    .tabs.-show-secondary .-primary .-more>button span {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    
    .tabs .-secondary {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        box-shadow: 0 5px 10px rgba(193,185,187,.2);
        -webkit-animation: nav-secondary .2s;
        animation: nav-secondary .2s;
        z-index: 1;
        padding: 10px 0;
        background-color: #fff
    }
    
    .tabs .-secondary li {
        background-color: #fff;
        display: block
    }
    
    .tabs .-secondary a,.tabs .-secondary button {
        text-decoration: none!important;
        padding: 12px 25px;
        margin-right: 0;
        width: 100%;
        text-align: left
    }
    
    .tabs .-secondary a:focus:after,.tabs .-secondary button:focus:after {
        display: none
    }
    
    .tabs.-show-secondary .-secondary {
        display: block;
        padding: 15px 5px 5px 15px;
    }

    .tabs.-show-secondary .-secondary li {
        margin-bottom: 10px;
        display: block;
    }
    
    @-webkit-keyframes nav-secondary {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-1em);
            transform: translateY(-1em)
        }
    
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }
    
    @keyframes nav-secondary {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-1em);
            transform: translateY(-1em)
        }
    
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }
}