.site-wrapper {
    .product-slider {
        width: 100%;
        margin-top: 50px;
        position: relative;
        z-index: 1;

        @media screen and (max-width: $small) {
            margin-top: 30px;
        }
        &:hover {
            .flickity-page-dots {
                opacity: 1;
                visibility: visible;
            }
        }
        .slide {
            overflow: hidden;
            @include image-mask('rectriangle-wide','auto','false');
            width: 100%;


            img {
                width: 100%;
                height: auto;
            }
        }

        .flickity-prev-next-button {
            transition: all .2s ease-in-out;
        }

        .flickity-prev-next-button.previous {
            left: 15px;
        }

        .flickity-prev-next-button.next {
            right: 15px;
        }

        .flickity-button-icon {
            fill: $green;
        }

        .flickity-page-dots {
            bottom: -53px;
            left: 50%;
            transform: translateX(-50%);
            margin: 0px;
            transition: .3s ease-in-out;
    
            @media screen and (max-width: $small) {
                left: 0px;
                transform: none;
                width: auto;
            }
            li {
                width: 20px;
                height: 20px;
                border: 2px solid $green;
                margin: 0px 8px;
                border-radius: 50%;
                opacity: 1;
                background-color: transparent; 
                
                @media screen and (max-width: $medium) {
                    width: 16px;
                    height: 16px;
                    margin: 0px 6px;
                }
            }
            .dot {
                &.is-selected {
                    background-color: $green;
                }
            }
        }
    }
}