.site-wrapper {
    .results-text {
        margin-top: 25px;
        margin-left: 40px;

        @media screen and (max-width: $medium) {
            margin-left: 0px;
        }
    }
    .search-term {
        color: $green;
        font-weight: bold;
        text-transform: capitalize;
    }
    .results-container {
        border-top: 2px solid $green;
    }
    .results-toggle {
        padding: 50px 0px;
        cursor: pointer;

        @media screen and (max-width: $medium) {
            padding: 30px 0px;
        }
        &:after {
            display: inline-block;
            content: '';
            background-image: url('../img/green-caret-right.svg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 10px;
            height: 18px;
            position: relative;
            top: -1px;
            margin-left: 50px;
            transition: .3s ease-in-out;

            @media screen and (max-width: $small) {
                margin-left: 10px;
            }
        }
        &.filters {
            padding: 30px 0px !important;

            @media screen and (max-width: $medium) {
                padding: 20px 0px !important;
            }
            &:after {
                top: -1px;
            }
        }
        &[aria-expanded="true"] {
            &:after {
                transform: rotate(90deg);
            }
        }
        h2 {
            margin: 0px;
            display: inline;
            font-family: $intro;
            font-size: 28px;
            color: $green;
            transition: .3s ease-in-out;
        }
    }
    &.searchresults {
        &.recipes-dataset {
            .main-content-wrapper {
                &:before {
                    display: none;
                }
            }
            .breadcrumbs {
                .form {
                    margin-top: 0px;
                    z-index: 1;
                }
            }
            .section__header {
                margin-bottom: 60px;
            }
            .filter-flyout {
                top: 195px;

                &.is-open {
                    top: 135px;
                }
            }
            .results-container {
                + .global-cards {
                    margin-top: 0px;

                    hr {
                        margin: 0px 0px 150px;

                        @media screen and (max-width: $medium) {
                            margin: 0px 0px 100px;
                        }
                        @media screen and (max-width: $small) {
                            margin: 0px 0px 60px;
                        }
                    }
                }
            }
            .news-articles {
                padding-top: 0px;
            }
            .load-more {
                @media screen and (max-width: $small) {
                    margin-bottom: 0px;
                }
            }
        }
        .recipes-heading {
            margin-top: -50px;

            @media screen and (max-width: 1350px) {
                margin-top: 0px;
            }
        }
        .browse-filters {
            .browse-by {
                margin-top: 20px;
                margin-left: 70px;

                @media screen and (max-width: $medium) {
                    margin-left: 0px;
                }
            }
            .dataset-tags {
                margin-left: 60px;

                @media screen and (max-width: $medium) {
                    margin-left: 0px;
                }
            }
            .filter-flyout {
                top: 415px;
                margin-left: 70px;

                @media screen and (max-width: 1500px) {
                    top: 375px;
                }
                @media screen and (max-width: $medium) {
                    top: 355px;
                    margin-left: 0px;
                }
                @media screen and (max-width: $small) {
                    top: 295px;
                }
                &.is-open {
                    top: 355px;

                    @media screen and (max-width: 1500px) {
                        top: 315px;
                    }
                    @media screen and (max-width: $medium) {
                        top: 295px;
                    }
                    @media screen and (max-width: $small) {
                        top: 235px;
                    }
                }
                .close-flyout {
                    a {
                        color: $white;
                    }
                }
            }
        }
        .results-container {
            .container-fluid {
                margin-top: 0px !important;

                + .align-center {
                    .btn {
                        margin-top: 20px;
                    }
                }
            }
            &:first-of-type {
                border-top: 1px solid #808080;

                @media screen and (max-width: $medium) {
                    margin-top: 22px;
                }
            }
        }
        .results-content {
            .results-filtering {
                padding-bottom: 40px;

                @media screen and (max-width: $medium) {
                    padding-bottom: 15px;
                }
                @media screen and (max-width: $small) {
                    padding-bottom: 30px;
                    columns: 2;
                }
            }
        }
    }
    .results-content {
        .no-results {
            margin: 0px;
            padding: 0px 0px 50px;
        }
        .fa-tag {
            font-size: 20px;
            margin-left: 0px;
            margin-right: 10px;
            top: -4px;
        }
    }
    .results-filtering {
        margin-top: 2px;
        columns: 3;
        gap: 30px;
        width: 100%;

        @media screen and (max-width: $small) {
            columns: 2;
        }
        &__col {
            margin-bottom: 13px !important;

            input[type="checkbox"] {
                margin-right: 10px;

                + label {
                    display: inline;
                    width: calc(100% - 38px);
                    font-size: 16px;
                    font-weight: normal;
                    margin-bottom: 10px;
                    cursor: pointer;
                    position: relative;
                    top: 4px;

                    @media screen and (max-width: 900px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .search-result {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        @media screen and (max-width: $small) {
            margin-bottom: 20px;
        }
        &:last-of-type {
            margin-bottom: 50px;

            @media screen and (max-width: $medium) {
                margin-bottom: 30px;
            }
        }
        &__text {
            h2 {
                margin-top: 0px;
                margin-bottom: 20px;
                font-family: $intro;
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}
