.tooltip-inner {
    background-color: $white !important;
    color: $black !important;
    border: 1px solid $green;
    border-radius: 0px;
    padding: 10px 15px;
}
.tooltip.bs-tooltip-bottom .arrow, .tooltip.bs-tooltip-top .arrow {
    display: none;
}
.tooltip.show {
    opacity: 1 !important;
    filter:alpha(opacity=100) !important;
}
.tooltip.bs-tooltip-bottom {
    position: relative;
    margin-top: 3px;
    margin-left: 14px;

    @media screen and (max-width: $medium) {
        margin-left: 27px;
    }
    &:before {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $green;
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    &:after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ffffff;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.tooltip.bs-tooltip-top {
    position: relative;
    margin-bottom: 3px;
    margin-left: 14px;

    @media screen and (max-width: $medium) {
        margin-left: 27px;
    }
    &:before {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $green;
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
    }
    &:after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #ffffff;
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.popover {
    border: 1px solid $green;
}
.bs-popover-auto[x-placement^=bottom]>.arrow::before, .bs-popover-bottom>.arrow::before {
    border-bottom-color: $green;
}
.bs-popover-auto[x-placement^=top]>.arrow::before, .bs-popover-top>.arrow::before {
    border-top-color: $green;
}