.site-wrapper {
    .one-year-one-lg-img-left {        
        .leftside {
            position: relative;

            @media screen and (max-width: $medium) {
                margin-bottom: 30px;
            }
            @media screen and (max-width: $small) {
                margin-bottom: 0px;
            }
            .orange-leaves {
                padding-left: 25%;
                
                @media screen and (max-width: 1200px) {
                    padding-left: 0%;
                }
                @media screen and (max-width: $medium) {
                    padding-left: 10%;
                }
                @media screen and (max-width: $small) {
                    position: absolute;
                    top: 10px;
                    left: 0%;
                    padding-left: 0%;
                }
                img {
                    transform: scale(-1, 1);
                    width: 9.3vw;

                    @media screen and (max-width: $medium) {
                        width: 15vw;
                    }
                    @media screen and (max-width: $small) {
                        width: 80px;
                    }
                }
            }
        }
        .year-section {
            background-color: $white;
            text-align: center;
            margin-top: -70px;

            @media screen and (max-width: $small) {
                margin-top: 80px;
            }
            h2 {
                margin-top: 10px;
            }
            p {
                max-width: 400px;
                margin: 0px auto 20px;
            }
        }
    }
    .one-year-one-lg-img-right {        
        .rightside {
            text-align: center;
            position: relative;

            @media screen and (max-width: 1200px) {
                text-align: right;
            }
            @media screen and (max-width: $medium) {
                margin-bottom: 30px;
            }
            @media screen and (max-width: $small) {
                margin-bottom: 0px;
            }
            .orange-leaves {
                @media screen and (max-width: $medium) {
                    padding-right: 10%;
                }
                @media screen and (max-width: $small) {
                    position: absolute;
                    top: 20px;
                    right: 0%;
                    padding-right: 0%;
                }
                img {
                    width: 9.3vw;

                    @media screen and (max-width: $medium) {
                        width: 15vw;
                    }
                    @media screen and (max-width: $small) {
                        width: 80px;
                    }
                }
            }
        }
        .year-section {
            background-color: $white;
            text-align: center;
            margin-top: -70px;

            @media screen and (max-width: $small) {
                margin-top: 80px;
            }
            h2 {
                margin-top: 10px;
            }
            p {
                max-width: 400px;
                margin: 0px auto 20px;
            }
        }
    }
}