.site-wrapper {
    .two-years-one-img-left {
        .leftside {
            padding-right: 30px;
            text-align: right;
            z-index: 2;
            position: relative;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: $small) {
                padding-right: 0px;
                margin-top: 20px;
            }
            .year {
                width: 100%;

                @media screen and (max-width: $small) {
                    background-color: $white;
                    text-align: center;
                }
            }
            h2 {
                text-align: right;

                @media screen and (max-width: $small) {
                    text-align: center;
                    margin-top: 10px;
                }
            }
            p {
                display: inline-block;
                max-width: 350px;
                margin-bottom: 120px;

                @media screen and (max-width: 1300px) {
                    margin-bottom: 90px;
                }
                @media screen and (max-width: $small) {
                    margin-bottom: 10px;
                }
            }
        }
        .rightside {
            padding-left: 30px;
            position: relative;

            @media screen and (max-width: $small) {
                padding-left: 0px;
            }
            &-img {
                margin-top: 53px;
                max-width: 465px;

                @media screen and (max-width: $small) {
                    margin-top: 40px;
                    max-width: none;
                    width: 100%;
                    text-align: center;
                }
                img {
                    margin-bottom: 20px;

                    @media screen and (max-width: $small) {
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .first-year-section {
            display: flex;
            flex-wrap: wrap;

            .leftside, .rightside {
                display: flex;
                flex-wrap: wrap;
            }
            .leftside {
                justify-content: space-between;
                flex-direction: column;
            }
        }
        .second-year-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-top: -100px;

            @media screen and (max-width: 1300px) {
                margin-top: -70px;
            }
            @media screen and (max-width: $small) {
                margin-top: 40px;
            }
            .green-leaf-container {
                width: 100%;
            }
            .green-leaves {
                margin-left: 15%;
                margin-bottom: -25px;

                @media screen and (max-width: 1300px) {
                    margin-bottom: -30px;
                    margin-left: 3%;
                }
                @media screen and (max-width: $small) {
                    margin-bottom: -40px;
                    margin-left: 5%;
                }
                > img {
                    width: 25%;
                    max-width: 150px;

                    @media screen and (max-width: 1300px) {
                        width: 20%;
                    }
                    @media screen and (max-width: $small) {
                        width: 25%;
                    }
                }
            }
            .leftside {
                flex-direction: column;
            }
            .rightside {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                flex-direction: column;
                padding-bottom: 180px;
            }
        }
        .year-block-lg {
            background-color: #a0ce5f;
            width: 900px;
            transform: rotate(-3deg);
            position: relative;
            margin-top: -180px;

            &:before {
                content: '';
                display: block;
                width: 68px;
                height: calc(100% + 2px);
                background-image: url('../img/timeline-rip-5.png');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: -1px;
                left: -45px;
                z-index: 1;
            }
            &:after {
                content: '';
                display: block;
                width: 61px;
                height: calc(100% + 2px);
                background-image: url('../img/timeline-rip-6.png');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: -1px;
                right: -30px;

                @media screen and (max-width: $small) {
                    width: 41px;
                }
            }
            .left-bg {
                position: absolute;
                left: 0px;
                bottom: -10px;
                max-width: 150px;
                width: 15%;
                height: 200px;
                background-image: url('../img/orange-pattern.png');
                background-size: 170%;
                transform: rotate(1deg);

                @media screen and (max-width: $small) {
                    display: none;
                }
            }
            .right-bg {
                position: absolute;
                right: 0px;
                top: -10px;
                max-width: 320px;
                width: 30%;
                height: 120px;
                background-image: url('../img/orange-pattern.png');
                background-size: 82%;
                transform: rotate(1deg);

                @media screen and (max-width: $small) {
                    display: none;
                }
            }
            &__inner {
                transform: rotate(3deg);
                padding: 80px 17% 70px;

                @media screen and (max-width: $medium) {
                    padding: 70px 17% 40px;
                }
                @media screen and (max-width: $small) {
                    padding: 70px 50px 40px;
                }
            }
            h2 {
                color: $white;
                text-align: center;
                margin-top: -40px;

            }
            p {
                color: $white;
                text-align: center;
                font-family: $arial-black;
                font-size: 22px;
                line-height: 1.5;
                font-style: italic;
                max-width: 660px;
                margin: 0px auto;
                
                @media screen and (max-width: 650px) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
    .two-years-one-img-right {
        .rightside {
            padding-left: 30px;
            z-index: 2;
            position: relative;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: $small) {
                padding-left: 0px;
                margin-top: 30px;
            }
            .year {
                width: 100%;

                @media screen and (max-width: $small) {
                    background-color: $white;
                    text-align: center;
                }
            }
            h2 {
                @media screen and (max-width: $small) {
                    text-align: center;
                    margin-top: 10px;
                }
            }
            p {
                display: inline-block;
                max-width: 350px;
                margin-bottom: 120px;

                @media screen and (max-width: 1300px) {
                    margin-bottom: 90px;
                }
                @media screen and (max-width: $small) {
                    margin-bottom: 10px;
                }
            }
        }
        .leftside {
            padding-right: 30px;
            position: relative;

            @media screen and (max-width: $small) {
                padding-right: 0px;
            }
            &-img {
                margin-top: 53px;
                max-width: 465px;

                @media screen and (max-width: $small) {
                    margin-top: 40px;
                    max-width: none;
                    width: 100%;
                    text-align: center;
                }
                img {
                    margin-bottom: 20px;

                    @media screen and (max-width: $small) {
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .first-year-section {
            display: flex;
            flex-wrap: wrap;

            .leftside, .rightside {
                display: flex;
                flex-wrap: wrap;
            }
            .leftside {
                justify-content: space-between;
                flex-direction: column;
            }
        }
        .second-year-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-top: -100px;

            @media screen and (max-width: 1300px) {
                margin-top: -70px;
            }
            @media screen and (max-width: $small) {
                margin-top: 40px;
            }
            .green-leaf-container {
                width: 100%;
                text-align: right;
            }
            .green-leaves {
                margin-right: 15%;
                margin-bottom: -25px;

                @media screen and (max-width: 1300px) {
                    margin-bottom: -30px;
                    margin-right: 3%;
                }
                @media screen and (max-width: $small) {
                    margin-bottom: -50px;
                    margin-right: 5%;
                }
                > img {
                    width: 25%;
                    max-width: 150px;
                    transform: scale(-1, 1);

                    @media screen and (max-width: 1300px) {
                        width: 20%;
                    }
                    @media screen and (max-width: $small) {
                        width: 25%;
                    }
                }
            }
            .leftside {
                flex-direction: column;
            }
            .rightside {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                flex-direction: column;
                padding-bottom: 180px;
            }
        }
        .year-block-lg {
            background-color: #a0ce5f;
            width: 900px;
            transform: rotate(3deg);
            position: relative;
            margin-top: -180px;

            &:before {
                content: '';
                display: block;
                width: 68px;
                height: calc(100% + 2px);
                background-image: url('../img/timeline-rip-5.png');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: -1px;
                left: -45px;
                z-index: 1;
            }
            &:after {
                content: '';
                display: block;
                width: 61px;
                height: calc(100% + 2px);
                background-image: url('../img/timeline-rip-6.png');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: -1px;
                right: -30px;

                @media screen and (max-width: $small) {
                    width: 41px;
                }
            }
            .left-bg {
                position: absolute;
                right: 0px;
                bottom: -10px;
                max-width: 150px;
                width: 15%;
                height: 200px;
                background-image: url('../img/orange-pattern.png');
                background-size: 170%;
                transform: rotate(-1deg);

                @media screen and (max-width: $small) {
                    display: none;
                }
            }
            .right-bg {
                position: absolute;
                left: 0px;
                top: -10px;
                max-width: 320px;
                width: 30%;
                height: 120px;
                background-image: url('../img/orange-pattern.png');
                background-size: 82%;
                transform: rotate(-1deg);

                @media screen and (max-width: $small) {
                    display: none;
                }
            }
            &__inner {
                transform: rotate(-3deg);
                padding: 80px 17% 70px;

                @media screen and (max-width: $medium) {
                    padding: 70px 17% 40px;
                }
                @media screen and (max-width: $small) {
                    padding: 70px 50px 40px;
                }
            }
            h2 {
                color: $white;
                text-align: center;
                margin-top: -40px;

            }
            p {
                color: $white;
                text-align: center;
                font-family: $arial-black;
                font-size: 22px;
                line-height: 1.5;
                font-style: italic;
                max-width: 660px;
                margin: 0px auto;

                @media screen and (max-width: 650px) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}