.site-wrapper {
    .two-years-three-imgs-left {
        .year-block {
            @media screen and (max-width: $small) {
                text-align: center;
                background-color: $white;
                margin: 0px auto;
            }
        }
        .leftside {
            padding-right: 30px;
            z-index: 2;
            position: relative;
            text-align: right;

            @media screen and (max-width: $small) {
                padding-right: 0px;
                margin-top: 40px;
            }
            .year {
                width: 100%;

                @media screen and (max-width: $small) {
                    background-color: $white;
                    text-align: center;
                }
            }
            h2 {
                margin-top: 50px;

                @media screen and (max-width: $medium) {
                    text-align: right;
                }
                @media screen and (max-width: $small) {
                    text-align: center;
                    margin-top: 10px;
                }
            }
            p {
                display: inline-block;
                max-width: 350px;
            }
            &-img {
                @media screen and (max-width: $small) {
                    width: 100%;
                    text-align: center;
                }
                img {
                    @media screen and (max-width: $small) {
                        max-width: 200px;
                    }
                }
            }
        }
        .rightside {
            padding-left: 30px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 50px;

            @media screen and (max-width: $small) {
                padding-left: 0px;
                padding-bottom: 0px;
            }
            h2 {
                @media screen and (max-width: $medium) {
                    text-align: left;
                }
                @media screen and (max-width: $small) {
                    text-align: center;
                }
            }
            p {
                display: inline-block;
                max-width: 350px;
            }
            &-img {
                margin-top: 60px;
                max-width: 465px;
                width: 100%;

                @media screen and (max-width: $small) {
                    margin-top: 40px;
                }
                img {
                    margin-bottom: 20px;

                    @media screen and (max-width: $small) {
                        margin-bottom: 0px;
                    }
                }
            }
            .leaves {
                @media screen and (max-width: $small) {
                    width: 20%;
                    margin-right: 10%;
                    align-self: flex-end;
                }
                img {
                    transform: scale(-1, 1);
                }
            }
        }
    }
    .two-years-three-imgs-right {
        @media screen and (max-width: $small) {
            flex-direction: column-reverse;
        }
        .year-block {
            @media screen and (max-width: $small) {
                text-align: center;
                background-color: $white;
                margin: 0px auto;
            }
        }
        .rightside {
            padding-left: 30px;
            z-index: 2;
            position: relative;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: $small) {
                padding-left: 0px;
                margin-top: 40px;
            }
            .year {
                width: 100%;

                @media screen and (max-width: $small) {
                    background-color: $white;
                    text-align: center;
                }
            }
            h2 {
                margin-top: 50px;

                @media screen and (max-width: $medium) {
                    text-align: left;
                }
                @media screen and (max-width: $small) {
                    text-align: center;
                    margin-top: 10px;
                }
            }
            p {
                display: inline-block;
                max-width: 350px;
            }
            &-img {
                @media screen and (max-width: $small) {
                    width: 100%;
                    text-align: center;
                }
                img {
                    @media screen and (max-width: $small) {
                        max-width: 200px;
                    }
                }
            }
        }
        .leftside {
            padding-right: 30px;
            position: relative;
            text-align: right;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 50px;

            @media screen and (max-width: $small) {
                padding-right: 0px;
                padding-bottom: 0px;
            }
            h2 {
                @media screen and (max-width: $medium) {
                    text-align: right;
                }
                @media screen and (max-width: $small) {
                    text-align: center;
                }
            }
            p {
                display: inline-block;
                max-width: 350px;
            }
            &-img {
                margin-top: 60px;
                max-width: 465px;
                width: 100%;
                align-self: flex-end;

                @media screen and (max-width: $small) {
                    margin-top: 40px;
                }
                img {
                    margin-bottom: 20px;

                    @media screen and (max-width: $small) {
                        margin-bottom: 0px;
                    }
                }
            }
            .leaves {
                @media screen and (max-width: $small) {
                    width: 20%;
                    margin-left: 10%;
                }
            }
        }
    }
}