// Global Typpography

.page__title,
.heading {
    font-size: clamp(calculateRem(22px), 10vw, calculateRem(75px));

    span {
        padding: .175em .5em .1em .5em;
    }
}


.heading--lg {
    font-size: clamp(calculateRem(35px), 10vw, calculateRem(125px)); // min,ideal,max
    span {
        padding: 0.07em .4em .01em .4em;
    }
}


.page__title,
.heading,
.heading--lg {
    display: inline-block;
    font-family: $thunderhouse;
    margin: 0;
    position: relative;

    &:before,
    &:after {
        content: '';
        height: 100%;
        position: absolute;
    }

    // left side
    &:before {
        clip-path: polygon(16% 0%, 38% 1%, 5% 1%, 46% 2%, 77% 3%, 72% 4%, 81% 4%, 72% 5%, 10% 6%, 45% 7%, 9% 7%, 93% 8%, 57% 9%, 29% 10%, 61% 10%, 45% 11%, 10% 12%, 82% 13%, 24% 13%, 98% 24%, 41% 15%, 4% 16%, 62% 16%, 37% 17%, 87% 18%, 46% 19%, 7% 19%, 81% 20%, 89% 21%, 27% 22%, 61% 22%, 90% 23%, 33% 24%, 78% 25%, 17% 25%, 37% 26%, 13% 27%, 63% 28%, 18% 28%, 41% 29%, 99% 30%, 10% 31%, 64% 31%, 4% 32%, 27% 33%, 30% 34%, 82% 34%, 88% 35%, 43% 36%, 69% 37%, 24% 37%, 50% 38%, 94% 39%, 93% 40%, 80% 40%, 35% 41%, 4% 42%, 35% 43%, 58% 43%, 33% 44%, 43% 45%, 65% 46%, 62% 46%, 42% 47%, 1% 48%, 88% 49%, 74% 49%, 26% 50%, 86% 51%, 93% 51%, 5% 52%, 5% 53%, 48% 54%, 25% 54%, 36% 55%, 26% 56%, 6% 57%, 70% 57%, 81% 58%, 76% 59%, 23% 60%, 34% 60%, 90% 61%, 7% 62%, 66% 63%, 66% 63%, 72% 64%, 77% 65%, 81% 66%, 13% 66%, 37% 67%, 55% 68%, 73% 69%, 48% 69%, 24% 70%, 16% 71%, 94% 72%, 85% 72%, 52% 73%, 90% 74%, 98% 75%, 50% 75%, 79% 76%, 34% 77%, 4% 78%, 91% 78%, 4% 79%, 68% 80%, 51% 81%, 40% 81%, 52% 82%, 49% 83%, 20% 84%, 52% 84%, 4% 85%, 46% 86%, 77% 87%, 16% 87%, 65% 88%, 10% 89%, 8% 90%, 55% 90%, 91% 91%, 36% 92%, 19% 93%, 83% 93%, 48% 94%, 33% 95%, 19% 96%, 95% 96%, 30% 97%, 67% 98%, 70% 99%, 68% 99%, 50% 100%, calc(100% + 1px) 100%, calc(100% + 1px) 0%);
        left: -3px;
        top:0px;
        width: 3px;
    }

    // right side
    &:after {
        bottom:0px;
        clip-path: polygon(24% 0%, 4% 1%, 80% 1%, 10% 2%, 16% 3%, 37% 4%, 37% 4%, 32% 5%, 56% 6%, 15% 7%, 29% 7%, 11% 8%, 32% 9%, 31% 10%, 13% 10%, 32% 11%, 44% 12%, 46% 13%, 1% 13%, 45% 24%, 99% 15%, 76% 16%, 95% 16%, 51% 17%, 82% 18%, 22% 19%, 10% 19%, 46% 20%, 62% 21%, 83% 22%, 60% 22%, 1% 23%, 58% 24%, 94% 25%, 97% 25%, 31% 26%, 42% 27%, 19% 28%, 48% 28%, 63% 29%, 60% 30%, 11% 31%, 77% 31%, 76% 32%, 55% 33%, 59% 34%, 24% 34%, 99% 35%, 60% 36%, 16% 37%, 39% 37%, 36% 38%, 25% 39%, 30% 40%, 62% 40%, 88% 41%, 5% 42%, 64% 43%, 73% 43%, 69% 44%, 31% 45%, 4% 46%, 22% 46%, 26% 47%, 13% 48%, 85% 49%, 64% 49%, 66% 50%, 44% 51%, 53% 51%, 25% 52%, 8% 53%, 51% 54%, 53% 54%, 37% 55%, 37% 56%, 17% 57%, 86% 57%, 65% 58%, 48% 59%, 32% 60%, 94% 60%, 40% 61%, 92% 62%, 16% 63%, 44% 63%, 11% 64%, 65% 65%, 81% 66%, 17% 66%, 18% 67%, 23% 68%, 24% 69%, 25% 69%, 90% 70%, 76% 71%, 41% 72%, 49% 72%, 19% 73%, 64% 74%, 50% 75%, 8% 75%, 37% 76%, 59% 77%, 89% 78%, 0% 78%, 69% 79%, 33% 80%, 95% 81%, 23% 81%, 81% 82%, 12% 83%, 67% 84%, 26% 84%, 100% 85%, 73% 86%, 7% 87%, 59% 87%, 72% 88%, 88% 89%, 16% 90%, 94% 90%, 80% 91%, 49% 92%, 86% 93%, 73% 93%, 17% 94%, 18% 95%, 89% 96%, 97% 96%, 89% 97%, 61% 98%, 58% 99%, 5% 99%, 92% 100%, -10% 100%, -10% 0%);
        left:100%;
        right: -3px;
    }

    span {
        display: block;
        line-height: .875;
        position: relative;
        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        // top
        &:before {
            clip-path: polygon(0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10% , 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%);
            height: 3px;
            left: 0;
            top: -3px;
            transform: rotate(180deg);
            width: 100%;
        }
        // bottom
        &:after {
            bottom: -3px;
            clip-path: polygon(0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%, 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10% , 0% 24%,1% 4%,1% 45%,2% 10%,3% 16%,4% 22%,4% 22%,5% 32%,6% 56%,7% 15%, 7% 29%, 8% 11%, 9% 32%, 10% 31%, 10% 13%, 11% 32%,12% 44%, 13% 46%,13% 1%, 24% 45%, 15% 99%,16% 76%,16% 95%,17% 51%,18% 82%,19% 22%,19% 10%,20% 46%,21% 62%,22% 83%,22% 60%,23% 1%,24% 58%,25% 94%,25% 97%,26% 31%,27% 42%,28% 19%, 28% 48%, 29% 63%, 30% 60%, 31% 11%, 31% 52%, 32% 76%, 33% 55%, 34% 59%, 34% 24%, 35% 99%, 36% 60%, 22% 16%, 22% 39%, 38% 36%, 39% 25%, 40% 30%, 40% 62%, 41% 88%, 42% 5%, 43% 64%, 43% 73%, 44% 69%, 45% 31%, 46% 4%, 46% 22%, 47% 26%, 48% 13%, 49% 85%, 49% 64%, 50% 66%, 51% 44%,  51% 53%, 52% 25%, 53% 8%, 54% 51%, 54% 53%, 55% 22%, 56% 22%, 57% 17%, 57% 86%, 58% 65%, 59% 48%, 60% 32%, 60% 94%, 61% 40%, 62% 92%, 63% 16%, 63% 44%, 64% 11%, 65% 65%, 66% 57%, 66% 17%, 67% 18%, 68% 23%, 69% 24%, 69% 25%, 70% 90%, 71% 76%, 52% 41%, 52% 49%, 73% 19%, 74% 64%, 75% 50%, 75% 8%, 76% 22%, 52% 59%, 78% 89%, 78% 0%, 79% 69%, 45% 33%, 57% 95%, 57% 23%, 82% 57%, 83% 12%, 84% 67%, 84% 26%, 85% 100%, 86% 73%, 87% 7%, 87% 59%, 88% 52%, 89% 88%, 90% 16%, 90% 94%, 91% 45%, 92% 49%, 93% 86%, 93% 73%, 94% 17%, 95% 18%, 96% 89%,96% 97%,97% 89%, 98% 61%,99% 58%, 99% 5%,100% 92%,100% -10%, 0% -10%);
            height: 3px;
            left: 0;
            width: 100%;
        }
    }

    ~ .page__title,
    ~ .heading {
        margin-top: .25em;
    }

    &.--aqua {
        background-color: $aqua;
        color: $white;
        &:before,
        &:after {
            background-color: $aqua;
        }
        span {
            &:before,
            &:after {
                background-color: $aqua;
            }
        }
    }

    &.--blue {
        background-color: $blue;
        color: $white;
        &:before,
        &:after {
            background-color: $blue;
        }
        span {
            &:before,
            &:after {
                background-color: $blue;
            }
        }
    }

    &.--danger {
        background-color: $danger;
        color: $white;
        &:before,
        &:after {
            background-color: $danger;
        }
        span {
            &:before,
            &:after {
                background-color: $danger;
            }
        }
    }

    &.--green {
        background-color: $green;
        color: $white;
        &:before,
        &:after {
            background-color: $green;
        }
        span {
            &:before,
            &:after {
                background-color: $green;
            }
        }
    }

    &.--green-100 {
        background-color: $green-100;
        color: $white;
        &:before,
        &:after {
            background-color: $green-100;
        }
        span {
            &:before,
            &:after {
                background-color: $green-100;
            }
        }
    }

    &.--green-200 {
        background-color: $green-200;
        color: $white;
        &:before,
        &:after {
            background-color: $green-200;
        }
        span {
            &:before,
            &:after {
                background-color: $green-200;
            }
        }
    }

    &.--orange {
        background-color: $orange;
        color: $white;
        &:before,
        &:after {
            background-color: $orange;
        }
        span {
            &:before,
            &:after {
                background-color: $orange;
            }
        }
    }

    &.--purple {
        background-color: $purple;
        color: $white;
        &:before,
        &:after {
            background-color: $purple;
        }
        span {
            &:before,
            &:after {
                background-color: $purple;
            }
        }
    }

    &.--purple-100 {
        background-color: $purple-100;
        color: $white;
        &:before,
        &:after {
            background-color: $purple-100;
        }
        span {
            &:before,
            &:after {
                background-color: $purple-100;
            }
        }
    }

    &.--red {
        background-color: $red;
        color: $white;
        &:before,
        &:after {
            background-color: $red;
        }
        span {
            &:before,
            &:after {
                background-color: $red;
            }
        }
    }

    &.--yellow {
        background-color: $yellow;
        color: #046a38;
        &:before,
        &:after {
            background-color: $yellow;
        }
        span {
            &:before,
            &:after {
                background-color: $yellow;
            }
        }
    }

    &.--yellow-100 {
        background-color: $yellow-100;
        color: $green;
        &:before,
        &:after {
            background-color: $yellow-100;
        }
        span {
            &:before,
            &:after {
                background-color: $yellow-100;
            }
        }
    }

    &.--yellow-200 {
        background-color: $yellow-200;
        color: $green;
        &:before,
        &:after {
            background-color: $yellow-200;
        }
        span {
            &:before,
            &:after {
                background-color: $yellow-200;
            }
        }
    }

    &.--yellow-300 {
        background-color: $yellow-300;
        color: $white;
        &:before,
        &:after {
            background-color: $yellow-300;
        }
        span {
            &:before,
            &:after {
                background-color: $yellow-300;
            }
        }
    }

    &.--yellow-400 {
        background-color: $yellow-400;
        color: $white;
        &:before,
        &:after {
            background-color: $yellow-400;
        }
        span {
            &:before,
            &:after {
                background-color: $yellow-400;
            }
        }
    }

    &.--pink {
        background-color: $pink;
        color: $white;
        &:before,
        &:after {
            background-color: $pink;
        }
        span {
            &:before,
            &:after {
                background-color: $pink;
            }
        }
    }
}


.entry-content {
    .--aqua {
        color: $aqua;
    }
    .--green {
        color: $green;
    }
    .--green-100 {
        color: $green-100;
    }
    .--green-200 {
        color: $green-200;
    }
    .--purple {
        color: $purple;
    }
    .--purple-100 {
        color: $purple-100;
    }
    .--red {
        color: $red;
    }
    .--danger {
        color: $danger;
    }
    .--blue {
        color: $blue;
    }
    .--orange {
        color: $orange;
    }
    .--gray {
        color: $gray;
    }
    .--black {
        color: $black;
    }
    .--yellow {
        color: $black;
    }

    h1,h2,h3,h4,h5,h6 {
        @include heading-28($green,1.375);
        margin-bottom: 1em;
    }

    p {
        span {
            white-space: nowrap;
        }
    }

}
